<div class="left-right-container-padding">
  <div class="container mt-choose-renewbuy">
    <div class="row">
      <div class="why-choose-renewbuy">
        <div class="text-center why-choose-text">
          Why Choose <span class="choose-text-bold">RenewBuy?</span>
          <!-- <h2 class="text-center why-choose-heading">Why Choose RenewBuy?</h2> -->
          <div class="row g-4 why-choose-container mt-4">
            <div class="col-lg-3 col-md-6">
              <div class="card card-item bg-light-blue h-100">
                <div class="card-body text-center">
                  <img
                    src="../../../rb_assets/assets/images/hassle-free.svg"
                    alt="hasslefree"
                    class="mb-3 img-responsive"
                  />
                  <h5 class="card-heading mb-2">
                    Quick and Hassle-free <br />Insurance Purchase
                  </h5>
                  <p class="card-subheading">
                    Quick & Hassle-free Journey: Our user-friendly platform
                    ensures a seamless experience from start to finish
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="card card-item bg-light-yellow h-100">
                <div class="card-body text-center">
                  <img
                    src="../../../rb_assets/assets/images/guidence.svg"
                    alt="comprehensive-comprassion"
                    class="mb-3 img-responsive"
                  />
                  <h5 class="card-heading mb-2">Professional<br />Guidance</h5>
                  <p class="card-subheading">
                    Our team of insurance experts / advisors is here to help you
                    make informed decisions.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="card card-item bg-light-blue h-100">
                <div class="card-body text-center">
                  <img
                    src="../../../rb_assets/assets/images/transparent.svg"
                    alt="transparent"
                    class="mb-3 img-responsive"
                  />
                  <h5 class="card-heading mb-2">
                    Transparent Pricing With No Hidden Costs
                  </h5>
                  <p class="card-subheading">
                    We believe in transparency. All our insurance products come
                    with no hidden fees or surprise charges.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="card card-item bg-light-yellow h-100">
                <div class="card-body text-center">
                  <img
                    src="../../../rb_assets/assets/images/instant-claim.svg"
                    alt="comprehensive"
                    class="mb-3 img-responsive"
                  />
                  <h5 class="card-heading mb-2">Instant support and claims</h5>
                  <p class="card-subheading">
                    Always there to solve your queries for claims and everything
                    else.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="why-choose-container mt-4 d-block d-lg-none">
            <div class="slider-card">
              <div class="col-lg-3 col-md-6" style="width: 280px">
                <div class="card card-item bg-light-blue h-100">
                  <div class="card-body text-center">
                    <img
                      src="../../../rb_assets/assets/images/hassle-free.svg"
                      alt="hasslefree"
                      class="mb-3 img-responsive"
                    />
                    <h5 class="card-heading mb-2">
                      Quick and Hassle-free Insurance Purchase
                    </h5>
                    <p class="card-subheading">
                      Quick and Hassle-Free Journey: our user friendly platform
                      ensures a seamless experience from start to finish
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6" style="width: 280px">
                <div class="card card-item bg-light-yellow h-100">
                  <div class="card-body text-center">
                    <img
                      src="../../../rb_assets/assets/images/guidence.svg"
                      alt="comprehensive-comprassion"
                      class="mb-3 img-responsive"
                    />
                    <h5 class="card-heading mb-2">Professional Guidance</h5>
                    <p class="card-subheading">
                      team of experts and advisors for your insurance and
                      financial needs
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6" style="width: 280px">
                <div class="card card-item bg-light-blue h-100">
                  <div class="card-body">
                    <img
                      src="../../../rb_assets/assets/images/transparent.svg"
                      alt="transparent"
                      class="mb-3 img-responsive"
                    />
                    <h5 class="card-heading mb-2">
                      Transparent Pricing With No Hidden Costs
                    </h5>
                    <p class="card-subheading">
                      All our insurance products come with no hidden fees or
                      surprise charges.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6" style="width: 280px">
                <div class="card card-item bg-light-yellow h-100">
                  <div class="card-body text-center">
                    <img
                      src="../../../rb_assets/assets/images/instant-claim.svg"
                      alt="comprehensive"
                      class="mb-3 img-responsive"
                    />
                    <h5 class="card-heading mb-2">
                      Instant support and claims
                    </h5>
                    <p class="card-subheading">
                      Always there to solve your queries for claims and
                      everything else.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
