<div class="container select-right-policy-container my-5">
  <header>
    <h1 class="select-right-policy-header">
      How to select the right Motor Insurance Policy Online?
    </h1>
    <p class="header-description">
      Given the abundance of alternatives accessible today, selecting motor
      insurance that meets all requirements is critical. A good policy should be
      reasonable and give protection in the event of an emergency.
    </p>
  </header>
  <div class="d-none d-sm-block">
    <img
      class="image-content"
      src="../../../../rb_assets/assets/insurance/progress-image.svg"
      alt=""
      srcset=""
    />
  </div>
  <div class="d-flex d-sm-none overflow-scroll">
    <img
      class="image-content"
      src="../../../../rb_assets/assets/insurance/select-policy-process-mobile-view.svg"
      alt="imge not found"
      srcset=""
    />
    <img
      class="image-content"
      src="../../../../rb_assets/assets/insurance/select-policy-process-mobile-view.svg"
      alt="imge not found"
      srcset=""
    />
    <img
      class="image-content"
      src="../../../../rb_assets/assets/insurance/select-policy-process-mobile-view.svg"
      alt="imge not found"
      srcset=""
    />
    <img
      class="image-content"
      src="../../../../rb_assets/assets/insurance/select-policy-process-mobile-view.svg"
      alt="imge not found"
      srcset=""
    />
  </div>
  <!-- <div
    class="process-lists"
    [style]="{
      'background-image':
        'url(' +
        '../../../../rb_assets/assets/insurance/process-policy-selection.svg' +
        ')',
      'background-repeat': 'no-repeat',
    }"
    
  > -->
  <!-- '../../../../rb_assets/assets/insurance/progress-image.svg' -->
  <!-- <div class="grid-container" >
      <div class="step-card">
        <header>
          <h2 class="step-heading">Add-on Cover</h2>
        </header>
        <div class="step-description">
          <p>
            Add-on covers enhance motor insurance. Choosing the right add-ons is
            crucial for maximizing policy benefits.
          </p>
        </div>
      </div>

      <div class="step-card">
        <header>
          <h2 class="step-heading">In-Depth Research</h2>
        </header>
        <div class="step-description">
          <p>
            Understand your motor insurance well and review terms carefully, as
            coverage varies.
          </p>
        </div>
      </div>

      <div class="step-card">
        <header>
          <h2 class="step-heading">Claim Settlement Ratio</h2>
        </header>
        <div class="step-description">
          <p>
            Check claim settlement percentages before buying motor insurance, as
            it's a crucial factor.
          </p>
        </div>
      </div>

      <div class="step-card">
        <header>
          <h2 class="step-heading">Best Value</h2>
        </header>
        <div class="step-description">
          <p>
            Motor insurance should offer comprehensive coverage & quality
            services at the best price.
          </p>
        </div>
      </div>

      <div class="step-card">
        <header>
          <h2 class="step-heading">Services</h2>
        </header>
        <div class="step-description">
          <p>
            Choose motor insurance with 24-hour support, pick-up/drop-off, a
            wide garage network, and fast claims.
          </p>
        </div>
      </div>
    </div> -->
  <!-- </div> -->
</div>
