@import "../../../mixins";
.faq-main-header {
  .faq-header {
    .faq-header-title {
      font-size: 42px;
      font-weight: 400;
      line-height: 58.8px;
      color: rgba(26, 46, 53, 1);
      padding-bottom: 8px;
    }
    .faq-header-sub-title {
      font-size: 42px;
      font-weight: 600;
      line-height: 58.8px;
      // margin-bottom: 15px;
      color: rgba(26, 46, 53, 1);
    }

    .faq-header-discription {
      font-size: 14px;
      line-height: 20px;
      color: rgba(121, 122, 126, 1);
      margin-bottom: 30px;
      font-weight: 400;
      letter-spacing: 0.5px;
      max-width: 100%;
      width: 458px;
      padding-top: 20px;
    }

    .faq-image {
      text-align: center;
      /* width: 343px; */
      position: relative;
      top: 20px;
      // padding-top: 25px;
      .faq-icon {
        // max-width: 80%;
        height: 306px;
        width: 323px;
        margin-bottom: 10px;
      }
    }
  }

  .right-side-content {
    //   max-width: 55%;
    //   flex: 1;
  }
  .main-faq-section {
    overflow-x: hidden;
    border-radius: 10px;
    /* padding-top: 20px; */
    box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, 0.06);
  }
  // .main-faq-section {
  //   overflow-x: hidden;
  //   border-radius: 10px;
  //   padding-top: 20px;

  //   box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, 0.06);
  // }
  .faq-section {
    max-width: 100%;
    background: rgba(255, 255, 255, 0.002);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.04),
      0px 16px 24px 0px rgba(0, 0, 0, 0.06);
    // border-radius: 10px;
    background-color: #fff;
    max-height: 469.5px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 5px;
      background-color: #f5f5f5;
      border-radius: 20px !important;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
      background-color: #f5f5f5;
      border-radius: 9px;
      border-radius: 20px !important;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: rgba(182, 182, 182, 1);
      border-radius: 20px !important;
    }
  }

  // padding-top: 66px;
  @include for-big-desktop-only {
    max-width: 100%;
  }
  .faq-item {
    border-bottom: 2px solid rgba(0, 0, 0, 0.04);

    // .faq-question {
    //   background-color: #fff;
    //   border: none;
    //   font-size: 16px;
    //   font-weight: 400;
    //   line-height: 21.44px;
    //   color: rgba(46, 55, 73, 1);
    //   padding: 20px;
    //   width: 100%;
    //   text-align: left;

    //   cursor: pointer;
    //   display: flex;
    //   justify-content: space-between;
    //   align-items: center;
    //   transition: background-color 0.3s ease;
    //   box-sizing: border-box;
    //   margin: 0 auto;

    //   &:hover {
    //     color: var(--blue, rgba(0, 104, 207, 1));
    //   }
    // }

    .faq-answer {
      display: none;
      padding: 0px 15px 15px 15px;
      font-weight: 400;
      font-size: 14px;
      color: rgba(121, 122, 126, 1);
      box-sizing: border-box;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
  }
  .faq-section {
    overflow-y: auto;
    overflow-x: hidden;
    // border-radius: 12px;
    max-width: 100%;
    box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, 0.06);
  }

  .faq-section::-webkit-scrollbar {
    width: 5px; /* Set scrollbar width */
    background-color: #f5f5f5;
  }

  .faq-section::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 0 50px 0 0; /* Apply radius to only the top-right */
  }

  .faq-section::-webkit-scrollbar-thumb {
    background-color: rgba(182, 182, 182, 1);
    border-radius: 0 50px 0 0; /* Apply radius to only the top-right corner */
    border-top-right-radius: 50px; /* Force only the top-right corner to be rounded */
    border-bottom-right-radius: 0; /* Ensure the bottom is not rounded */
  }

  .faq-panel {
    display: none;
    max-height: 496px;

    &.active {
      display: block;
    }

    .faq-item {
      border-bottom: 2px solid rgba(0, 0, 0, 0.04);

      .faq-question {
        background-color: #fff;
        border: none;
        font-size: 16px;
        font-weight: 400;
        line-height: 21.44px;
        color: rgba(46, 55, 73, 1);
        padding: 20px;
        width: 100%;
        text-align: left;

        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: background-color 0.3s ease;
        box-sizing: border-box;
        margin: 0 auto;
        // &:hover {
        //   color: var(--blue, rgba(0, 104, 207, 1));
        // }
      }

      .faq-answer {
        display: none;
        padding: 0px 15px 15px 21px;
        font-weight: 400;
        font-size: 14px;
        color: rgba(121, 122, 126, 1);
        box-sizing: border-box;
        word-wrap: break-word;
        overflow-wrap: break-word;
      }
    }
  }
}
.faq-icon {
  width: 323px;
  height: 321px;
}
.faq-ps {
  padding-left: 10%;
}
@include for-tablet-portrait-only {
  .faq-container {
    flex-direction: column;
    padding: 20px;

    .faq-header,
    .faq-content {
      max-width: 100%;
      margin-bottom: 20px;
    }
  }
}

@include for-tablet-landscape-only {
  .faq-container {
    justify-content: space-between;
  }

  .faq-question {
    max-width: 100%;
  }
}

.faq-tabs {
  gap: 25px;
  .tab-button {
    width: 130px;
    height: 44px;
    background-color: rgba(238, 240, 241, 0.6);
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 24px;
    color: #666;
    transition: background-color 0.3s ease;
    text-align: center;
  }

  .tab-button.active {
    background-color: rgba(245, 250, 255, 1);
    color: rgba(0, 104, 207, 1);
    font-weight: 600;
    line-height: 29.33px;
    font-size: 14px;
    letter-spacing: 0.2px;
  }
  // display: flex;
  // column-gap: 25px;
  // margin-bottom: 30px;

  // .tab-button {
  //   background-color: rgba(238, 240, 241, 0.6);
  //   border: none;
  //   border-radius: 30px;
  //   padding: 10px 20px;
  //   cursor: pointer;
  //   font-size: 16px;
  //   line-height: 24px;
  //   color: #666;
  //   transition: background-color 0.3s ease;
  //   width: 125px;

  //   &.active {
  //     background-color: rgba(245, 250, 255, 1);
  //     color: rgba(0, 104, 207, 1);
  //     font-weight: 600;
  //     line-height: 29.33px;
  //     font-size: 14px;
  //     letter-spacing: 0.2px;
  //   }
  // }
}

.newsletter-container {
  align-items: center;
  // padding: 20px;
  background: url(../../../rb_assets/assets/images/newsletter-left-bg.svg) left
      top,
    url(../../../rb_assets/assets/images/newletter-right-bg.svg) right bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(37, 31, 119, 1);
  border-radius: 20px;
  color: #fff;
  width: 75vw;
  max-width: 949px;
  height: 110px;
  margin-top: 6vh;
  margin-bottom: 5vh;

  .newsletter-content {
    display: flex;
    justify-content: space-around;

    justify-content: space-around;
    @include for-tablet-portrait-only {
      flex-direction: column;
    }

    .newsletter-left-content {
      font-size: 24px;
      font-weight: 500;
      line-height: 36px;
      text-align: left;
      margin-bottom: 20px;
      padding-top: 30px;
      @include for-tablet-portrait-only {
        margin-bottom: 0;
      }

      .newsletter-title {
        font-size: 24px;
        margin-bottom: 8px;
        line-height: 36px;
        color: linear-gradient(90deg, #ffffff 0%, #d3dce7 100%);
        padding-left: 5px;
      }

      .newsletter-description {
        font-size: 12px;
        margin-bottom: 5px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.8);
        line-height: 14px;
        padding-left: 8px;
      }
    }

    .newsletter-right-form {
      padding-top: 30px;
      @include for-tablet-portrait-only {
        width: auto;
      }

      .newsletter-form {
        justify-content: flex-start;
        align-items: center;
        display: flex;
        flex-direction: row;
        background: white;
        border: 1px solid grey;
        border-radius: 12px;
        padding: 5px;
        width: 100%;
        .newsletter-input {
          flex-grow: 1;
          max-width: 100%;
          min-width: 0;
          font-size: 14px;
          color: #333;
          outline: none;
          border: none;
          padding: 10px;

          box-sizing: border-box;
        }

        .newsletter-button {
          padding: 10px 20px;
          border: none;
          border-radius: 12px;
          background: rgba(255, 250, 242, 1);
          cursor: pointer;
          font-size: 14px;
          font-weight: 700;
          transition: 0.3s ease;
          color: rgba(241, 132, 54, 1);
          flex-shrink: 0;

          &:hover {
            background: linear-gradient(90deg, #feb47b, #ff7e5f);
            color: white;
          }
        }
      }
    }
  }
}
input[type="email"] {
  width: 250px;
  max-width: 100%;
  border: none;
}
.faq-panel {
  display: none;
}

.faq-panel.active {
  display: block;
}
@media (max-width: 1162px) {
  .faq-header {
    .faq-header-title {
      font-size: 35px;
      margin-bottom: 0px;
    }
    .faq-header-sub-title {
      font-size: 35px;
    }
  }
}
@media (min-width: 1296px) and (max-width: 1366px) {
  // .btn-circle{
  //   margin-bottom: 20px;
  // }
  .faq-icon {
    max-width: 65% !important;
  }
}
.sponsored-text {
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
  color: rgba(121, 122, 126, 1);
}
.carousel-inner-custome {
  max-width: 100% !important;
  width: 90%;
  left: 6%;
}
.carousel-control-prev-btn {
  width: 40px;
}
.carousel-control-next {
  width: 40px;
}
.carousel-control-left-arr {
  width: 40px !important;
  height: 40px !important;
}
.carousel-arrimg {
  position: relative;
  left: 24%;
  top: 29%;
}
@media only screen and (max-width: 768px) {
  .main-faq-section {
    border-radius: 20px !important;
    border: 1px solid rgb(158 158 158 / 18%);
    /* border-bottom: 5px solid #9e9e9e00; */
    /* background: #00000017; */
    /* border-bottom: 5px solid red; */
  }
  .newsletter-container {
    height: auto;

    padding: 20px;
  }
  .faq-section {
    .faq-panel {
      .faq-item {
        .faq-question {
          font-size: 12px;
          line-height: 21.44px;
          color: rgba(46, 55, 73, 1);
          gap: 10px;
        }
        .faq-answer {
          font-size: 12px;
          line-height: 21.44px;
          color: rgba(46, 55, 73, 1);
        }
        .toggle-icon {
          width: 34px;
          height: 34px;
        }
      }
    }
  }
  .faq-ps {
    padding-left: 0px !important;
  }
  .faq-image {
    text-align: center;
    padding-top: 15px;
    .faq-icon {
      width: 200px !important;
      height: 190px !important;
    }
  }
  .faq-header {
    padding-left: 35px;

    .faq-header-title {
      font-size: 24px !important;
      font-weight: 400;
      line-height: 33.6px !important;
      text-align: start;
    }
    .faq-header-sub-title {
      font-size: 24px !important;
      font-weight: 400 !important;

      line-height: 33.6px !important;
      text-align: left;
      span {
        font-weight: 600 !important;
      }
    }
  }
  .faq-section {
    border-radius: 20px;
    // border: 2px solid rgba(241, 241, 241, 1);
    max-height: 268px;
  }

  .newsletter-container {
    width: 94vw;
    margin-top: 20px;
    margin-bottom: 20px;
    .newsletter-content {
      display: block;
      .newsletter-left-content {
        padding-top: 0px;
      }
      .newsletter-description {
        font-size: 11px;
        padding-left: 8px;
      }
      .newsletter-right-form {
        padding-top: 0px;
      }
      .newsletter-right-form {
        .newsletter-form {
          border-radius: 8px;
          padding: 2px;
        }
      }
    }
  }

  .faq-tabs {
    height: 35px;
    margin-top: 35px;
  }
  .faq-tabs {
    display: inline-flex;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    scroll-snap-type: x mandatory;
    gap: 10px;
    padding-bottom: 44px;
    overflow-y: hidden;
  }

  .faq-tabs::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
  }
  .faq-tabs {
    .tab-button {
      flex: 0 0 auto;
      scroll-snap-align: center;
      width: 98px;
      height: 33px;
      font-size: 12px;
      line-height: 14px;
    }
    .tab-button.active {
      line-height: 14px;
    }
  }
  .btn-circle {
    margin-bottom: -25px;
  }

  .faq-header {
    .faq-header-discription {
      display: none;
    }
    .faq-image {
      text-align: start;
      top: 14px;
      left: 4%;
    }
  }
  .carousel-inner-custome {
    width: 100%;
    padding-left: 12%;
  }
}

.faq-slider-container .btn:hover {
  border: none;
}

// @media (max-width: 1024px) {

@media (min-width: 1024px) and (max-width: 1295px) {
  .carousel-control-next {
    right: -15px !important;
  }
  .faq-header-sub-title {
    font-size: 32px !important;
  }
  .newsletter-left-content {
    .newsletter-title {
      font-size: 23px !important;
    }
  }
  .newsletter-form {
    padding: 8px !important;
  }
  .faq-tabs {
    .tab-button {
      width: 115px;
    }
  }
}

.content-tab-wrapper {
  overflow: hidden;
  width: 100%;
  overflow-x: scroll;
}
.content-tab-wrapper::-webkit-scrollbar {
  display: none;
}

.content-tab {
  display: flex;
  transition: transform 0.3s ease;
}

.tab-button {
  // background-color: #1193d4;
  border-radius: 30px;
  padding: 10px 10px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: rgba(0, 104, 207, 1);
  width: 125px;
  height: 46px;
  margin-right: 18px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-arrow,
.right-arrow {
  width: 25px;
  height: 25px;
}

.bg-primary-light {
  background-color: #e3f1ff;
}
.btn-circle {
  width: 45px;
  height: 40px;
  border-radius: 25px;
  // margin-bottom: 25px;
}
@media (max-width: 370px) {
  .faq-main-header {
    .carousel-inner-custome {
      padding-left: 3% !important;
    }
  }
  .carousel-control-prev {
    left: -15px;
  }
}

.faq-panel {
  .faq-item {
    .faq-question.inactive {
      color: rgb(46, 55, 73) !important;
    }
    .faq-question.active {
      color: var(--blue, rgb(0, 104, 207)) !important;
    }
  }
}
