<app-motor-car-insurance [isShowTab]="false" [page]="health"></app-motor-car-insurance>
<app-add-ons-inurance [pageData]="addOnspageData"></app-add-ons-inurance>
<app-insurance-companies></app-insurance-companies>
<app-choose-best-health-insurance></app-choose-best-health-insurance>
<app-inclusions [pageData]="inclusionsData"></app-inclusions>
<app-benefits-covered></app-benefits-covered>
<app-inclusions [pageData]="exclusionsData"></app-inclusions>
<app-data-comparison></app-data-comparison>
<app-not-sure-plans></app-not-sure-plans>
<app-some-myths></app-some-myths>
<app-reduce-insurance-premium></app-reduce-insurance-premium>
<app-inclusions [pageData]="importanceOfMotorInsuranceData"></app-inclusions>
<app-cashless-hospitals></app-cashless-hospitals>
<app-inclusions [pageData]="keyOfHealthInsuranceData"></app-inclusions>
<app-navigator [navigatorTabsData]="navigatorTabsData"></app-navigator>
<app-faq-motor [questionList]="questionsList"></app-faq-motor>
