@import "../../../_mixins.scss";
.footer-background {
  background: rgba(250, 250, 250, 1);

  .footer-top {
    .footer-container {
      align-items: center;
      padding: 20px 40px 0px 60px;
      margin: 20px;
      @include for-phone-only {
        margin: 20px 9px;
      }

      .footer-left {
        flex: 1 1 100%;
        display: grid;
        flex-direction: row;
        // margin-top: 15px;

        .footer-logo {
          width: 151px;
          height: 44px;
          @include for-phone-only {
            width: 142px;
          }
        }

        .footer-description {
          font-size: 14px;
          font-weight: 300;
          line-height: 30px;
          text-align: left;
          color: #4f5665;
          opacity: 100%;
          padding-top: 12px;
        }
      }

      .footer-social {
        text-align: center;
        margin-top: 7%;
        margin-left: -3%;

        .heading {
          font-size: 16px;
          color: #333;
          margin-bottom: 10px;
          margin-right: 80px;
          text-align: start;
        }

        .social-icons {
          display: flex;
          justify-content: flex-start;

          .atag {
            // margin-right: 10px;

            .icon {
              width: 60px;
              height: auto;
              cursor: pointer;
            }
          }
        }
      }
    }

    .footer-links {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      // margin-bottom: 20px;

      .footer-column {
        flex: 1 1 17%;

        padding: 10px;
        @include for-phone-only {
          padding: 10px 0px;
        }
        .footer-pd {
        }

        .heading {
          font-size: 18px;
          color: #333;
          margin-bottom: 10px;
          line-height: 30px;
          margin-left: 5px;
          @include for-phone-only {
            margin-left: 0px;
          }
        }

        .sub-heading {
          display: flex;
          cursor: pointer;

          .toggle-icon {
            padding-right: 5px;
            transition: transform 0.3s;
            margin-bottom: 5px;
            @include for-phone-only {
              margin-bottom: 0px;
            }
          }

          &.expanded .toggle-icon {
            transform: rotate(90deg);
          }

          .sub-row {
            margin-bottom: 8px;
            @include for-phone-only {
              margin-bottom: 0px;
            }

            .primary-link {
              text-decoration: none;
              color: #555;
              font-size: 14px;
              line-height: 34px;
              font-weight: 400;

              &:hover {
                color: #007bff;
              }
            }
          }
        }

        .footer-links-row {
          list-style: none;
          overflow: hidden;
          max-height: 0;
          margin-left: 20px;
          margin: 0;

          &.expanded {
            max-height: 500px;
            padding-left: 26px;
          }

          .sub-row {
            margin-bottom: 8px;

            .primary-link {
              text-decoration: none;
              color: #555;
              font-size: 14px;
              cursor: pointer;

              &:hover {
                color: #007bff;
              }
            }
          }
        }

        .footer-links-row-others {
          list-style: none;
          padding: 5px;
          overflow: hidden;
          margin-left: 20px;
          margin: 0;

          .sub-row {
            margin-bottom: 8px;

            .primary-link {
              text-decoration: none;
              color: #555;
              font-size: 14px;

              &:hover {
                color: #007bff;
              }
            }
          }
        }
      }

      .footer-column-first {
        flex: 1 1 28.5%;
        margin-bottom: 20px;
        padding-right: 30px;

        .heading {
          font-size: 18px;
          color: #333;
          margin-bottom: 10px;
        }

        .sub-heading {
          display: flex;
          cursor: pointer;
          margin-bottom: 8px;

          .toggle-icon {
            padding-right: 5px;
            transition: transform 0.3s;
          }

          .sub-row {
            // margin-bottom: 8px;

            .primary-link {
              text-decoration: none;
              color: #555;
              font-size: 14px;

              &:hover {
                color: #007bff;
              }
            }
          }

          .footer-links-row {
            list-style: none;
            padding: 5px;
            overflow: hidden;
            max-height: 0;
            margin-left: 20px;
            margin: 0;

            &.expanded {
              max-height: 500px;
              padding-left: 26px;
            }

            .footer-links-row-others {
              list-style: none;
              padding: 0 5px 5px;
              overflow: hidden;
              margin-left: 20px;
              margin: 0;

              .sub-row {
                margin-bottom: 8px;
                margin: 5px 0;

                .primary-link {
                  text-decoration: none;
                  color: #555;
                  font-size: 14px;

                  &:hover {
                    color: #007bff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .footer-bottom {
    background-color: white;

    .footer-bottom-links {
      margin-bottom: 20px;
      color: #555;
      text-align: center;

      .categories {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        margin: 0;
        padding-top: 10px;

        .category-list {
          margin: 0 10px 10px 0;

          .category-link {
            color: #555;
            text-decoration: none;
            font-size: 12px;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .footer-info {
    .footer-company-info {
      .description {
        font-size: 14px;
        text-align: start;
        letter-spacing: 4%;
        line-height: 24px;
        font-weight: 400;
        padding-top: 10px;
        margin-top: 5px;
        color: rgba(79, 86, 101, 1);
      }

      .sub-description {
        font-size: 14px;
        text-align: start;
        font-weight: 400;
        letter-spacing: 4%;
        line-height: 24px;
        color: rgba(79, 86, 101, 1);
        margin-bottom: 10px;
      }
    }
  }

  .footer-copy-right {
    .footer-bottom-info {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      color: rgba(79, 86, 101, 1);
      margin-top: 20px;
    }
  }

  @include for-tablet-landscape-only {
    .footer-container {
      flex-direction: column;
      align-items: center;
      text-align: center;

      .footer-left,
      .footer-social {
        flex: 1 1 100%;
        margin-bottom: 20px;
      }

      .social-icons {
        justify-content: center;
      }
    }
    .footer-column-first {
      flex: 1 1 23%;
    }
  }

  @include for-tablet-portrait-only {
    .footer-links {
      display: grid !important;
      justify-content: center !important;
    }

    .footer-social {
      margin-left: 0 !important;
      margin-right: 48% !important;
    }
  }

  @include for-phone-only {
    .footer-links .footer-column {
      flex: 1 1 100% !important;
      text-align: start;
      display: grid;
    }
    .footer-background.footer-top.footer-links.footer-column {
      flex: 1 1 80% !important;
    }
    .footer-column {
      text-align: start;
    }
    .footer-container {
      // align-items: center;
      padding: 0px !important;
      // margin: 20px;
    }
    .footer-background .footer-top .footer-container {
      padding: 0px;
      margin: 0px;
    }
  }

  .footer-border {
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 768px) {
    .footer-copy-right {
      .footer-bottom-info {
        display: grid;
        justify-content: normal;
        text-align: start;
      }
      .copyright {
        padding-top: 10px;
      }
    }
    .social-title {
      padding-left: 13px;
    }
  }
}
.social-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: #4f5665;
  opacity: 100%;
  padding-left: 19px;
}
