<div class="container choose-best-health-insurance-container">
  <div class="header-section">
    <h3 class="choose-best-health-insurance-heading">
      How to choose the Best Health Insurance Companies in India
    </h3>
    <div class="d-flex justify-content-center">
      <p class="choose-best-health-insurance-heading-para">
        To select the top health insurance companies in India from the 28
        available options, consider the below-mentioned factors before buying a
        health insurance plan and match them to your specific needs and
        preferences:
      </p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-2 col-lg-2"></div>
    <div class="col-4 col-lg-4 d-flex justify-content-center">
      <div>
        <img
          src="./rb_assets/assets/images/curve-2.svg"
          alt=""
          width="164"
          height="214"
        />
        <div class="benefit-head">
          <div class="benefit">
            <div class="benefit-main">Network Hospitals</div>
            <span class="benefit-subhead"
              >Access a broad hospital network with our cost-effective plans,
              offering comprehensive coverage & financial security without
              compromising quality.</span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
    <div class="col-4 col-lg-4 d-flex justify-content-center">
      <div>
        <img src="./rb_assets/assets/images/curve-4.svg" alt="" />

        <div class="benefit-head">
          <div class="benefit">
            <div class="benefit-main">Online Services</div>
            <span class="benefit-subhead"
              >Experience extensive online services with our affordable plans,
              offering comprehensive coverage and convenience without exceeding
              your budget.</span
            >
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-12 mt-4 benefit-img">
      <img src="./rb_assets/assets/images/best-benefit.svg" alt="" />
    </div> -->
    <!-- <div class="col-4 col-lg-4 mt-4">
      <div class="d-flex justify-content-center position-relative">
        <img
          class="position-absolute"
          src="./rb_assets/assets/images/curve-1.svg"
          alt=""
        />
        <div class="benefit-head-down mt-3">
          <div class="benefit">
            <div class="benefit-main">Wider Coverage at Low Premiums</div>
            <span class="benefit-subhead"
              >Explore our cost-effective insurance plans with extensive
              coverage and affordable premiums, offering robust protection
              tailored to your needs for peace of mind & financial
              security.</span
            >
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="col-1"></div> -->
    <!-- <div class="col-6 col-lg-6 mt-4">
      <div class="d-flex justify-content-center position-relative">
        <img
          class="position-absolute curve"
          src="./rb_assets/assets/images/curve-3.svg"
          alt=""
        />
        <div class="benefit-4 mt-3">
          <div class="benefit">
            <div class="benefit-main">Customer Care Support</div>
            <span class="benefit-subhead"
              >Get reliable customer care with our affordable plans, providing
              comprehensive assistance and convenience within your budget.</span
            >
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="col-4 col-lg-4"></div> -->
  </div>
  <div class="row second">
    <div class="col-12 mt-4 benefit-img">
      <img src="./rb_assets/assets/images/best-benefit.svg" alt="" />
    </div>
  </div>
  <div class="row third">
    <div class="col-4 col-lg-4 mt-4">
      <div class="d-flex position-relative">
        <img
          class="position-absolute"
          src="./rb_assets/assets/images/curve-1.svg"
          alt=""
        />
        <div class="benefit-head-down mt-3">
          <div class="benefit">
            <div class="benefit-main">Wider Coverage at Low Premiums</div>
            <span class="benefit-subhead"
              >Explore our cost-effective insurance plans with extensive
              coverage and affordable premiums, offering robust protection
              tailored to your needs for peace of mind & financial
              security.</span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
    <div class="col-6 col-lg-6 mt-4">
      <div class="d-flex position-relative">
        <img
          class="position-absolute curve"
          src="./rb_assets/assets/images/curve-3.svg"
          alt=""
        />
        <div class="benefit-4 mt-3">
          <div class="benefit">
            <div class="benefit-main">Customer Care Support</div>
            <span class="benefit-subhead"
              >Get reliable customer care with our affordable plans, providing
              comprehensive assistance and convenience within your budget.</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
