@import "../../../mixins";

#beyond-insurance-section {
  margin: auto;
  padding: 20px 0px;

  .beyond-insurance-heading {
    font-size: 36px;
    line-height: 40.04px;
    text-align: center;
    font-weight: 400;
    padding: 0px 0px;
  }
}

.bream-car {
  background-image: url("../../../rb_assets/assets/images/dream-car-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 32px;

  // position: relative;
  // left: 35%;
  height: 641px; /* Adjust the height as needed */
  width: 100%;
  // @include for-desktop-only {
  //   left: 25%;
  // }
}

.bream-car {
  position: relative;
  overflow: hidden;
  border-radius: 32px;
  bottom: -11px;
}

.row.gx-0 {
  --bs-gutter-x: 20px; /* Set the gap between columns to 20px */
}

.health,
.claim-management,
.financial-score {
  border-radius: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.health {
  background-image: url("../../../rb_assets/assets/images/health-bg.svg");
  height: 328px;
  width: 658px;
}

.claim-management {
  height: 297px;
  width: 316px;
  // min-width: 250px;
}
.financial-score {
  height: 297px;
  width: 316px;
  // min-width: 250px;
}
.financial-score {
  position: relative;
  left: -2%;
  bottom: 2%;
}
@media (min-width: 1440px) and (max-width: 1789px) {
  // Regular desktops
  .financial-score {
    position: relative;
    left: 12%;
  }
}

@media (min-width: 1296px) and (max-width: 1366px) {
  // Regular desktops
  .financial-score {
    position: relative;
    left: 20%;
  }
}

@media (min-width: 1024px) and (max-width: 1295px) {
  // Regular desktops
  .financial-score {
    position: relative;
    left: 40%;
  }
}
.claim-management {
  background-image: url("../../../rb_assets/assets/images/claim-management-bg.svg");
}

.financial-score {
  background-image: url("../../../rb_assets/assets/images/financial-score-bg.svg");
}
.bream-car {
  width: 395px;
}

/* Media queries for responsiveness */
@media (max-width: 992px) {
  .health,
  .claim-management,
  .financial-score {
    height: auto; /* Allow height to adjust based on content */
  }
}

@media (max-width: 768px) {
  .bream-car {
    margin-bottom: 20px;
  }
}
.bream-car-content {
  position: relative;
  top: 78%;
  left: 9%;
}

.bream-car-content .bream-car-title {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 27.23px;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 1);
}
.bream-car-content .bream-car-sub-title {
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 1);
}
.health-content {
  position: relative;
  top: 10%;
  left: 7%;
}
.health-content .health-sponsored {
  font-weight: 400;
  line-height: 30px;
  font-size: 1.25rem;
  color: rgba(121, 122, 126, 1);
}
.health-content .health-title {
  line-height: 27.23px;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-size: 1.75rem;
  color: rgba(45, 49, 52, 1);
}
.health-content .health-subtitle {
  line-height: 18.1px;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-size: 0.875rem;
  color: rgba(121, 122, 126, 1);
}

.claim-content {
  position: relative;
  top: 10%;
}
.claim-content .claim-title {
  font-weight: 400;
  line-height: 27.23px;
  letter-spacing: 0.5px;
  text-align: center;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 1);
}
.claim-content .claim-sub-title {
  font-weight: 400;
  line-height: 18.1px;
  text-align: center;
  font-size: 0.875rem;
  color: rgba(242, 244, 248, 1);
}
.financial-content {
  position: relative;
  top: 10%;
  left: 10%;
}
.financial-content .financial-title {
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.5px;
  width: 80%;
  font-size: 1.5rem;
  color: rgba(45, 49, 52, 1);
}

.financial-content .financial-sub-title {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 18.1px;
  color: rgba(121, 122, 126, 1);
}
