<div class="row my-4">
  <div id="beyond-insurance-section">
    <div class="heading-one">Beyond <span class="bold"> Insurance</span></div>
    <div class="beyond-insurance-heading">Your All-in-One Protection Suite</div>
  </div>

  <div class="row d-flex">
    <div class="col-lg-5 col-md-5 col-sm-12 d-flex justify-content-end">
      <div class="bream-car">
        <div class="bream-car-content">
        <div class="bream-car-title mb-2">Buy your Dream Car</div>
        <div class="bream-car-sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        <!-- Content here -->
         </div>
      </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-12">
      <div class="row mb-3">
        <div class="col-lg-8 col-md-8">
          <div class="health">
            <div class="health-content">
              <div class="health-sponsored">
                Sponsored Posts

              </div>
              <div class="health-title my-2 ">
                Health
              </div>
              <div class="health-subtitle">
                Some nudge to dowload the app.

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-auto col-md-4 col-sm-6">
          <div class="claim-management">
            <div class="claim-content">
              <div class="claim-title">Claim Management</div>
              <div class="claim-sub-title my-2">
                Some nudge to dowload the app.
              </div>

            </div>
          </div>
        </div>
        <div class="col-auto col-md-8 col-sm-6">
          <div class="financial-score">
            <div class="financial-content">
              <div class="financial-title my-1">
                Check your Financial Score

              </div>
              <div class="financial-sub-title">
                Solutions in a jiffy
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
