<div class="policy-container py-4">
  <!-- HERO SECTION START  -->
  <app-terms-condition-hero [pageData]="privacyPageData"></app-terms-condition-hero>
  <!-- HERO SECTION END  -->
  <!-- PAGE MAIN CONTENT START  -->
  <div class="container">
    <p class="description-text privacy-policy-content pt-4 mt-3">
      This Privacy Policy (hereinafter known as “Policy”) sets out how the
      information provided by the visitors to the website / mobile application
      Renewbuy.com (hereinafter known as “Website”) is collected, processed,
      protected, stored, transferred and used. For the purposes of this Privacy
      Policy, ‘We’, ‘Us’, ‘Our’, ‘DCSPL’ and “Company” refers to M/s D2C
      Consulting Services Private Limited, a company incorporated under the
      Companies Act, 1956 and includes its subsidiaries, associates,
      representatives, and affiliates. ‘You’ or ‘Your’ or ‘Yourself’ or ‘User’
      which term shall include persons who are accessing the Website merely as
      visitors or undertaking any of the Services provided by DCSPL across all
      levels including any and all employees (permanent or contractual) or
      contractors or associates.
    </p>
    <p class="description-text">
      Please read the below given terms and conditions very carefully. By
      accessing the Website or Using any of our services, You agree to be bound
      by all the terms of this Privacy Policy.
    </p>
    <p class="description-text">
      <strong class="strong-tag-font-style">“DCSPL Affiliate"</strong>
      means any Person directly, or indirectly through one or more
      intermediaries, that Controls, is Controlled by or is under common Control
      of DCSPL.
    </p>
    <p class="description-text">
      <strong class="strong-tag-font-style">"Control"</strong>
      as Used in the immediately preceding sentence, shall mean with respect to
      any person, the possession, directly or indirectly, of the power, through
      the exercise of voting rights, contractual rights or otherwise, to direct
      or controls the decision-making of the management or policies of the
      controlled person.
    </p>
    <p class="description-text">
      <strong class="strong-tag-font-style">"Person"</strong>
      includes any natural person, company, corporation, partnership, Limited
      Liability Company, trust, unincorporated association or any other entity.
    </p>
    <strong class="mb-3 strong-tag-font-style">Purpose</strong>
    <p class="description-text">
      This Privacy Policy has been designed and developed to help You to
      understand the following:
    </p>
    <ol class="custom-list">
      @for(item of purposeList; track item){
      <li class="list-item">
        {{ item }}
      </li>
      }
    </ol>
    <strong class="strong-tag-font-style">Personal Information/Sensitive Personal Data</strong>
    <p class="description-text">
      <strong class="strong-tag-font-style">“Personal Information”</strong>
      means any information that relates to the User, which, either directly or
      indirectly, is capable of identifying the person concerned.
    </p>
    <p class="description-text">
      <strong class="strong-tag-font-style">“Sensitive Personal Data or Information”</strong>
      means personal information of a User relating to password; financial
      information such as bank account or credit card or debit card or other
      payment instrument details; physical, physiological and mental health
      condition; sexual orientation; medical records and history; biometric
      information; any detail relating to the above as provided to or received
      by the Company for processing or storage. However, any data/information
      that is freely available or accessible in public domain or furnished under
      the Right to Information Act, 2005 or any other law shall not qualify as
      Sensitive Personal Data or Information or Personal Information.
    </p>
    <strong class="strong-tag-font-style">Types of Personal Information collected by the Company</strong>
    <p class="description-text">
      While using our Services, we may collect the following categories of
      Personal Information from the Users:
    </p>
    <ol class="custom-list">
      @for(item of persionalInformationList; track item){
      <li class="list-item">
        {{ item }}
      </li>
      }
    </ol>
    <p class="description-text pt-0">
      In order to avail the Services, the Users may also be required to
      upload/share certain documents (for instance, Aadhaar, PAN Card, GST
      certificate, etc.), on the Platform and/or e-mail the same to the Company.
      Accordingly, the term “User Information” shall also include any such
      documents uploaded or otherwise provided by the Users. We may also keep
      records of telephone calls received and made for making inquiries, orders,
      or other purposes necessary for the administration of Services.
    </p>
    <strong class="strong-tag-font-style">Automatic Data Collection</strong>
    <p class="description-text pt-1">
      We may also receive and/or hold information about the User’s browsing
      history including the Uniform Resource Locator (URL) of the site that the
      User visited prior to visiting the Platform as well as the Internet
      Protocol (IP) address of each User's computer (or the proxy server a User
      used to access the World Wide Web), User's computer operating system and
      type of web browser the User is using as well as the name of User's
      Internet Service Provider (ISP). The Platform may use temporary cookies to
      store certain data (that is not Sensitive Personal Data or Information)
      that is used by Us for the technical administration of the Platform,
      research and development, and for User administration. In addition,
    </p>
    <ol class="custom-list">
      @for(item of autoMationDataCollection; track item){
      <li class="list-item">
        {{ item }}
      </li>
      }
    </ol>
    <strong class="strong-tag-font-style">Purposes for which the Company may use the Information</strong>
    <p class="description-text pt-1">
      We will retain User Information only to the extent it is necessary to
      provide one or more Services. By providing your information, You consent
      to the collection, sharing, disclosure and usage of the information in
      accordance with this Privacy Policy. The information, which we collect may
      be utilized for various business and/or regulatory purposes including but
      not limited for the following purposes:
    </p>
    <ol class="custom-list">
      @for(item of activitiesList; track item){
      <li class="list-item">
        {{ item }}
      </li>
      }
    </ol>
    <strong class="strong-tag-font-style">Disclosure and Transfer of User's Personal Information</strong>
    <p class="description-text">
      We may need to disclose/transfer User's Personal Information to certain
      third-party service providers in order to provide Users with the Services
      they have opted for.
    </p>
    <p class="description-text">
      We may need to disclose / transfer User's Personal Information to
      Governmental and judicial institutions/authorities, to the extent
      required:
    </p>
    <ol class="custom-list">
      @for(item of disclosurelist; track item){
      <li class="list-item">
        {{ item }}
      </li>
      }
    </ol>
    <p class="description-text">
      The Company may also make all User Information accessible to its employees
      and data processors/third party vendors only on a need-to-know basis and
      for the purposes set out in this Privacy Policy. The Company takes
      adequate steps to ensure that all the employees and data processors/third
      party vendors, who have access to, and are associated with the processing
      of User Information, respect its confidentiality and that such data
      processors/third party vendors adopt at least such reasonable level of
      security practices and procedures as required under applicable law.
      However, the Company does not disclose information, individually labelled
      or aggregated, obtained through Marketplace Application programming
      interface on behalf of a User to other Users or any third parties, unless
      required by law.
    </p>
    <p class="description-text">
      Non-personally identifiable information may be disclosed to third party ad
      servers, ad agencies, technology vendors and research firms to serve
      non-targeted advertisements to the Users. The Company may also share its
      aggregate findings (not specific information) in a non- personally
      identifiable form based on information relating to the User’s internet use
      (to the extent set out in this Privacy Policy) to prospective, investors,
      strategic partners, sponsors and others in order to help growth of
      Company's business.
    </p>
    <p class="description-text">
      We may also disclose or transfer the User Information, to another third
      party as part of reorganization or a sale of the assets or business of
      Company. Any third party to which the Company transfers or sells its
      assets will have the right to continue to use the Personal Information
      and/or other information that a User provides to Us in a manner consistent
      with this Privacy Policy.
    </p>
    <strong class="strong-tag-font-style">Links to Third-Party</strong>
    <p class="description-text">
      The links to third-party advertisements, third party websites or any
      third-party electronic communication services (referred to as “Third Party
      Links”) may be provided on the platform which are operated by third
      parties and are not controlled by, or affiliated to, or associated with
      the Company, unless expressly specified on the Platform.
    </p>
    <p class="description-text">
      If You access any such Third-Party Links, we request You to review the
      concerned website's privacy policy. We shall not be responsible for the
      policies or practices of such third parties.
    </p>
    <strong class="strong-tag-font-style">Security Practices and Procedures</strong>
    <p class="description-text">
      For the purpose of providing the Services and for other purposes
      identified in this Privacy Policy, we are required to collect and host
      certain data and information of the Users. We are committed to protecting
      Your Personal Information, and to that end, the Company adopts reasonable
      security practices and procedures to implement technical, operational,
      managerial and physical security control measures in order to protect the
      Personal Information in its possession from loss, misuse and unauthorized
      access, disclosure, alteration and destruction. While we try our best to
      provide security that is commensurate with the industry standards, due to
      the inherent vulnerabilities of the internet, we cannot ensure or warrant
      complete security of all information that is being transmitted to Us.
    </p>
    <p class="description-text">
      The Company takes adequate steps to ensure that third parties to whom the
      Personal Information may be transferred adopt at least such reasonable
      level of security practices and procedures as required under applicable
      law to ensure security of Personal Information.
    </p>
    <p class="description-text">
      You hereby acknowledge that the Company is not responsible for any
      information sent via the internet that has been intercepted beyond Our
      control after having adopted reasonable security practices and procedures,
      and You hereby release Us from any and all claims arising out of or
      related to the use of intercepted information in any unauthorized manner.
    </p>
    <strong
      >User's rights in relation to their personal information collected by the
      Company</strong
    >
    <p class="description-text">
      All the information provided to the Company by a User, including Sensitive
      Personal Data or Information, is voluntary. User has the right to withdraw
      his/her/its consent at any time, in accordance with the terms of this
      Privacy Policy and the Terms of Use, but please note that withdrawal of
      consent will not be retrospective.
    </p>
    <p class="description-text">
      Users can access, modify, correct and delete the Personal Information
      provided by them which has been voluntarily given by the User and
      collected by the Company in accordance with this Privacy Policy and Terms
      of Use. However, if the User updates his/her information, the Company may
      keep a copy of the information which User originally provided to the
      Company in its archives for User documented herein. In case the User seeks
      to update or correct, his/her Personal Information, the User may exercise
      these rights by Data Grievance Officer and communicating the change(s) for
      updating the Company’s records.
    </p>
    <p class="description-text">
      In case the User does not provide his/her information or consent for usage
      of Personal Information or subsequently withdraws his/her consent for
      usage of the Personal Information so collected, the Company reserves the
      right to discontinue, in part or full, the Services/associated features
      and benefits for which the said information was sought.
    </p>
    <strong class="strong-tag-font-style">For how long do the Company keep Personal Information</strong>
    <p class="description-text">
      Company will retain your Personal Information for as long as needed to
      fulfil the purpose for which it was collected and for any longer period
      thereafter in order to comply with applicable law. In case a User has
      withdrawn or cancelled their registration from the Platform, we are
      obliged under law to retain their Personal Information for a period of one
      hundred and eighty days after such cancellation. We may retain
      non-personally identifiable data indefinitely or to the extent allowed by
      applicable law.
    </p>
    <strong class="strong-tag-font-style">Changes to this Privacy Policy</strong>
    <p class="description-text">
      We may update this Privacy Policy from time to time and shall notify you
      regarding the Policy as well as any such changes periodically and at least
      once a year. However, you are advised to review this page/policy
      periodically for any changes. Your continued usage of the Services shall
      constitute your acceptance of the amended/updated Privacy Policy.
    </p>
    <strong class="strong-tag-font-style">Security Measures</strong>
    <p class="description-text">
      Protecting Your information is our paramount goal. We adopt appropriate
      data collection, storage and processing practices and security measures to
      protect against any unauthorized access, alteration, disclosure or
      destruction of username, password, transaction information or any other
      information/data stored with Us. Some of the security measures taken by Us
      are as following:
    </p>
    <ol class="custom-list">
      @for(item of securityMeasureslist; track item){
      <li class="list-item">
        {{ item }}
      </li>
      }
    </ol>
    <strong class="strong-tag-font-style">Consent</strong>
    <p class="description-text">
      By Using our Website and by providing Your information, it is assumed that
      You have provided Your express consent to the collection and Use of the
      information which is disclosed in accordance with this Privacy Policy,
      including but not limited to, Your express consent for sharing this
      information as per this Privacy Policy. We recommend that You do not
      Use/access and/or continue to Use/access the Website/App if You do not
      agree to the terms and conditions of this Privacy Policy. We obtain Your
      consent depending on our relationship with You. Thus, the consent is
      obtained in the following manner:
    </p>
    <ol class="custom-list">
      @for(item of consentList; track item){
      <li class="list-item">
        {{ item }}
      </li>
      }
    </ol>
    <p class="description-text">
      By Using our Website or by providing Your information as mentioned above,
      it is assumed that You have provided Your express consent to the
      collection and Use of the information, which is disclosed in accordance
      with this Privacy Policy, including but not limited to, Your express
      consent for sharing this information as per this Privacy Policy. We
      recommend that You do not Use/access and/or continue to Use/access the
      Website, WAP service or app if You do not agree to the terms and
      conditions of this Privacy Policy You have an option to refuse to give
      Your consent or take back Your consent in a way as specified below:
    </p>
    <ol class="custom-list">
      @for(item of consentSpecifiedList; track item){
      <li class="list-item">
        {{ item }}
      </li>
      }
    </ol>
    <strong class="strong-tag-font-style">Data Grievance Officer</strong>
    <p class="description-text">
      In case of any grievance against the Company in regards to the practice of
      collecting or storing information or any question about applicable law on
      Information Technology and rules made there under, the name and contact
      details of the Grievance Officer are provided below:
    </p>
    <p><strong class="strong-tag-font-style">Name:</strong> Mr. Sanchit Baveja</p>
    <p><strong class="strong-tag-font-style">Designation:</strong> Vice President- IT</p>

    <p >
      <strong class="strong-tag-font-style">Email:</strong>
      <a class="email-address" href="mailto:data-grievance@renewbuy.com"
        >{{emailAddress}}</a
      >
    </p>
    <address>
      <strong class="strong-tag-font-style">Address:</strong> Plot No. 94, Second Floor, Sector-32, Gurugram
      -122001, Haryana
    </address>
    <p class="description-text">For any queries or grievances pertaining to this privacy policy or collection, storage, retention or disclosure of Your information under the terms of this Privacy Policy, You can contact the Grievance Redressal Officer at <a class="email-address ps-0" href="mailto:data-grievance@renewbuy.com"
      >{{emailAddress}}.</a
    ></p>
    <p class="description-text">Not-withstanding anything mentioned before, we reserve the right to contact You via any mechanisms, not limited to email, SMS, or phone calls, to solicit feedback of Your experience and to provide any additional services that You would be eligible for, either as a customer or as a visitor. We shall not be held liable for any damages occurring to You as part of feedback solicitation and additional service provision.</p>
  </div>
  <!-- PAGE MAIN CONTENT END  -->
</div>
