<div class="policy-container py-4">
  <!-- HERO SECTION START  -->
  <app-terms-condition-hero
    [pageData]="privacyPageData"
  ></app-terms-condition-hero>
  <!-- HERO SECTION END  -->
  <!-- PAGE MAIN CONTENT START  -->
  <div class="container mt-5">
    <strong class="strong-tag-font-style privacy-policy-content pt-4 mt-3"
      >INTRODUCTION</strong
    >
    <p class="description-text">
      This Privacy Policy sets out how the information provided by you is
      collected, used, stored, processed, transferred and protected. Please read
      the terms carefully. By accessing the Website or using any of our
      services, You agree to be bound by all the terms of this Privacy Policy.
    </p>
    <p class="description-text">
      For the purposes of this Privacy Policy,
      <strong class="strong-tag-font-style">‘we’</strong>,
      <strong class="strong-tag-font-style">‘us’,</strong>
      <strong class="strong-tag-font-style">‘our’</strong>,
      <strong class="strong-tag-font-style">‘DIBPL’</strong> and “Company”
      refers to M/S D2C Insurance Broking Pvt Ltd (including its
      representatives, POSP Partners and Affiliates) and ‘you’ refers to the
      employees both permanent and contractual in nature, probationers,
      contractors, vendors, agents, consultants, advisors, interns, trainees,
      customers and users of the services provided at all levels by the Company.
    </p>
    <p class="description-text">
      <strong class="strong-tag-font-style">"Affiliate" </strong>means any
      Person directly, or indirectly through one or more intermediaries, that
      Controls, is Controlled by or is under common Control with DIBPL.
    </p>
    <p class="description-text">
      <strong class="strong-tag-font-style">"Control,"</strong> as used in the
      immediately preceding sentence, shall mean with respect to any person, the
      possession, directly or indirectly, of the power, through the exercise of
      voting rights, contractual rights or otherwise, to direct or cause the
      direction of the management or policies of the controlled person.
    </p>
    <p class="description-text">
      <strong class="strong-tag-font-style">"Person"</strong> includes any
      natural person, corporation, partnership, Limited Liability Company,
      trust, unincorporated association or any other entity.
    </p>
    <p class="description-text">
      <strong class="strong-tag-font-style">"Person"</strong>
      includes any natural person, company, corporation, partnership, Limited
      Liability Company, trust, unincorporated association or any other entity.
    </p>
    <p class="description-text">
      By using our website / mobile application (App) and/or registering
      yourself at the Website/App or any other web domain owned by the Company,
      you authorize us to contact you via email or phone call or SMS or WhatsApp
      or any other electronic medium and offer you the services for the
      product(s) you have opted for based on your needs, impart product
      knowledge, offer insurance solutions, offer other promotional offers
      running on Website/App. Irrespective of the fact that you have registered
      yourself under DND or DNC or NCPR service, by registering on the
      Website/App, you still authorize us to give you a call from RenewBuy, M/S
      D2C Insurance Broking Pvt Ltd, its affiliates, holding, subsidiaries and
      group companies, POSP partners, insurers associated with us or otherwise,
      . By registration, you also authorize us to send Messages/SMS/Email alerts
      to you for your login details and any other service requirements or some
      advertising messages/emails from us. "If you are no longer interested in
      receiving e-mail announcements and other marketing information from us, or
      you want us to remove any information that we have collected about you,
      please e-mail your request to the Data Grievance Officer."
    </p>
    <!-- <ol class="custom-list">
      @for(item of purposeList; track item){
      <li class="list-item">
        {{ item }}
      </li>
      }
    </ol> -->
    <strong class="strong-tag-font-style">INFORMATION WE COLLECT</strong>
    <ol class="custom-list">
      @for(item of informationList; track item){
      <li class="list-item">
        {{ item }}
      </li>
      }
    </ol>
    <strong class="strong-tag-font-style"
      >PURPOSE, USE AND STORAGE OF COLLECTED INFORMATION
    </strong>
    <p class="description-text">
      The information/data collected (as mentioned above) may be used for
      analytics to ultimately improve our service offerings to you. It helps us
      to find geographical areas that might require a higher degree of support,
      provide appropriate leads or personalize the App/Website experience. The
      information/data is also collected for the purposes of providing proper
      services, verification of the identity and usage information.
    </p>
    <p class="description-text">
      Information collected will be used for the following purposes:
    </p>
    <ol class="custom-list">
      @for(item of purposeList; track item){
      <li class="list-item">
        {{ item }}
      </li>
      }
    </ol>
    <strong class="strong-tag-font-style">For verification purposes.</strong>
    <ol class="custom-list">
      @for(item of verificationList; track item){
      <li class="list-item">
        {{ item }}
      </li>
      }
    </ol>
    <strong class="strong-tag-font-style"
      >INFORMATION SHARING AND DISCLOSURE</strong
    >
    <p class="description-text">
      We will not share the information that we have collected from you to
      anyone other than as specifically noted herein below:
    </p>
    <ol class="custom-list">
      @for(item of listContent; track item){
      <li class="list-item">
        {{ item }}
      </li>
      }
    </ol>
    <p class="description-text">
      Where you provide Personal Information of beneficiaries/dependents/other
      individuals to the Company, you agree (i) to inform the individual about
      the content of this Privacy Policy and (ii) to obtain any legally-required
      consent of Personal Information about the individual in accordance with
      this Privacy Policy
    </p>

    <strong class="strong-tag-font-style">RIGHTS UNDER THE POLICY</strong>
    <p class="description-text">
      The below-mentioned rights can be exercised by you as and when we obtain
      or hold personal information about you, or access personal information we
      hold about you, and for obtaining its correction, update, amendment or
      deletion in appropriate circumstances where permitted by applicable law or
      regulation. Some of these rights may be subject to some exceptions or
      limitations.
    </p>
    <ol class="custom-list">
      @for(item of rightsList; track item){
      <li class="list-item">
        {{ item }}
      </li>
      }
    </ol>
    <p class="description-text">
      The above rights can be exercised by you by approaching the Data Grievance
      Officer.
    </p>
    <strong class="strong-tag-font-style">SECURITY MEASURES</strong>
    <p class="description-text">
      Protection of your information is of paramount importance to us.We adopt
      appropriate data collection, storage and processing practices and security
      measures to protect against any unauthorized access, alteration,
      disclosure or destruction of your information, username, password,
      transaction information and any other information/data stored with us.
      Some of the security measures taken by us are as following:
    </p>
    <ol class="custom-list">
      @for(item of securityDetails; track item){
      <li class="list-item">
        {{ item }}
      </li>
      }
    </ol>
    <strong class="strong-tag-font-style"
      >UPDATE/CORRECTION/DELETION OF INFORMATION</strong
    >
    <p class="description-text">
      You have the right to access your personal information. You also have the
      right to request correction and deletion of the information shared by you.
      Changes can be made in system as and when there is any requirement for a
      change in the information. Personal information can be corrected, deleted
      or amended by contacting us. We will make efforts in good faith to make
      requested changes in our then-active databases as soon as reasonably
      possible. Thus, you may contact us through the Grievance Officer to have
      your information updated/corrected/deleted with us.
    </p>
    <strong class="strong-tag-font-style">RETENTION PERIOD</strong>
    <p class="description-text">
      All information collected by us will be stored with us as long as it is
      necessary for us to fulfill our obligations in respect of the provision of
      the services and in accordance with the applicable laws. Information
      collected by us can be retained by us if we believe it to be necessary to
      prevent fraud or future abuse; if required by law, for other legitimate
      purposes.
    </p>
    <strong class="strong-tag-font-style">CONSENT</strong>
    <p class="description-text">
      By using our Website/App and by providing your information, it is assumed
      that you have provided your express consent to the collection and use of
      the information which is disclosed in accordance with this Privacy Policy,
      including but not limited to, your express consent for sharing this
      information as per this Privacy Policy. We recommend that you do not
      use/access and/or continue to use/access the Website/App if you do not
      agree to the terms and conditions of this Privacy Policy. We obtain your
      consent depending on our relationship with you. Thus, the consent is
      obtained in the following manner:
    </p>
    <ol class="custom-list">
      @for(item of consentDetails; track item){
      <li class="list-item">
        {{ item }}
      </li>
      }
    </ol>
    <p class="description-text">
      By using our website or by providing your information as mentioned above,
      it is assumed that you have provided your express consent to the
      collection and use of the information, which is disclosed in accordance
      with this Privacy Policy, including but not limited to, your express
      consent for sharing this information as per this Privacy Policy. We
      recommend that you do not use/access and/or continue to use/access the
      website, WAP service or app if you do not agree to the terms and
      conditions of this Privacy Policy You have an option to refuse giving your
      consent or take back your consent in a way as specified below:
    </p>

    <strong class="strong-tag-font-style">COOKIES</strong>
    <p class="description-text">
      A cookie is a small text file that is stored on a computer for
      record-keeping purposes. We use cookies and other technologies such as
      pixel tags and clear gifs to store certain types of information each time
      you visit any page on our Website/App. Cookies enable to recognize the
      information you have consented to give to Website/App and help us
      determine what portions of our Website/App are most appropriate for your
      professional needs. We may also use cookies to serve advertising banners
      to you. These banners may be served by us or by a third party on our
      behalf. These cookies will not contain any personal information.
    </p>
    <p class="description-text">
      Whether you want your web browser to accept cookies or not is up to you.
      If you haven't changed your computer's settings, most likely your browser
      already accepts cookies. If you choose to decline cookies, you may not be
      able to fully experience all features of the Website/App. You can also
      delete your browser cookies or disable them entirely. But this may
      significantly impact your experience with our Website/App and may make
      parts of the Website/App non-functional or inaccessible. We recommend that
      you leave them turned on.
    </p>
    <p class="description-text">
      <strong class="strong-tag-font-style">Third Party Cookies </strong> Third
      parties may place cookies on this RenewBuy site. The information practices
      of these third parties are not covered by our Privacy Policy. Please
      contact them directly for more information about their privacy practices.
      Also, as described above, you may modify the settings in your browser to
      notify you when you receive a new cookie and disable cookies altogether.
    </p>
    <strong class="strong-tag-font-style">OTHER SITES </strong>
    <p class="description-text">
      There might be affiliates or other sites linked to our Website/App. Thus,
      when you visit those sites, the affiliated sites may have different
      privacy practices and we encourage you to read their privacy policies.
      These sites may place their cookies or other files on your computer,
      collect data or solicit personal information.
    </p>
    <strong class="strong-tag-font-style">ACCEPTANCE OF THESE TERMS</strong>
    <p class="description-text">
      By using our Website/App, you signify your acceptance of this Privacy
      Policy. If you do not agree to this Privacy policy, please do not use our
      Website/App. Your continued use of our Website/App following the posting
      of changes to this Privacy Policy will be deemed as your acceptance of
      those changes.
    </p>
    <strong class="strong-tag-font-style">Data Grievance Officer</strong>
    <p class="description-text">
      In case of any grievance against the Company in regards to the practice of
      collecting or storing information or any question about applicable law on
      Information Technology and rules made there under, the name and contact
      details of the Grievance Officer are provided below:
    </p>
    <p>
      <strong class="strong-tag-font-style">Name:</strong> Mr. Sanchit Baveja
    </p>
    <p>
      <strong class="strong-tag-font-style">Designation:</strong> Vice
      President- IT
    </p>

    <p>
      <strong class="strong-tag-font-style">Email:</strong>
      <a class="email-address" href="mailto:data-grievance@renewbuy.com">{{
        emailAddress
      }}</a>
    </p>
    <address>
      <strong class="strong-tag-font-style">Address:</strong> Plot No. 94,
      Second Floor, Sector-32, Gurugram -122001, Haryana
    </address>
    <p class="description-text">
      For any queries or grievances pertaining to this privacy policy or
      collection, storage, retention or disclosure of Your information under the
      terms of this Privacy Policy, You can contact the Grievance Redressal
      Officer at
      <a class="email-address ps-0" href="mailto:data-grievance@renewbuy.com"
        >{{ emailAddress }}.</a
      >
    </p>
    <p class="description-text">
      Not-withstanding anything mentioned before, we reserve the right to
      contact You via any mechanisms, not limited to email, SMS, or phone calls,
      to solicit feedback of Your experience and to provide any additional
      services that You would be eligible for, either as a customer or as a
      visitor. We shall not be held liable for any damages occurring to You as
      part of feedback solicitation and additional service provision.
    </p>
    <!--end--->
    <strong class="strong-tag-font-style"
      >CHANGES TO THIS PRIVACY POLICY</strong
    >
    <p class="description-text">
      M/S D2C Insurance Broking Pvt Ltd reserves the right to amend or modify
      this Privacy Policy at any time, as and when the need arises. We request
      you to regularly check this Privacy Policy from time to time to keep you
      apprise of changes made. Your continued use of the Website gives your
      unconditional acceptance to such change in terms of Privacy Policy.
    </p>
  </div>
  <!-- PAGE MAIN CONTENT END  -->
</div>
