.advisor-connect{
    .custom-btn {
        background-color: rgba(83, 132, 234, 1); /* Matches the blue in the screenshot */
        border: none;
        padding: 8px 8px;
        border-radius: 12px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        margin-top: 2%;
      
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 181px;
        color: rgba(255, 255, 255, 1);
        &:hover{
            background-color: #3A6BEF;

        }
        img{
            width: 36px;
            height: 28px;
            background-color: aliceblue;
            padding: 5px;
            border-radius: 6px;
          }
      }
      .advisor-discription{
        font-size: 18px;
        padding: 10px 5px 10px 0px;
        line-height: 27px;
        color: #242424;
        font-weight: 400;
    
      }
      .advisor-img{
        width: 350px;
        height: 254px;
      }
      
      .img-fluid{
        margin-bottom: 5%;
      }
      
      

}
@media (max-width:768px) {
  .advisor-connect{
    .reverse-div{
      display: flex;
      flex-direction: column-reverse;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      .button-large-view{
        display: none;
      }
    }
    .advisor-img{
      margin: 30px 0;
      width: 238px;
      height: 172px;
    }
    .button-mobile-view{
      display: flex;
      justify-content: center;
    }
  }
}
@media (min-width:769px) {
  .advisor-connect{
    .reverse-div{
      display: flex;
      justify-content: center;
      .button-large-view{
        display: block;
      }
    }
    .button-mobile-view{
      display: none;
    }
    
  }
}
  
  
  
 
  
  