<app-motor-car-insurance [isShowTab]="false" [page]="life"></app-motor-car-insurance>
<app-add-ons-inurance [pageData]="addOnspageData"></app-add-ons-inurance>
<app-reduce-insurance-premium [page]="life"></app-reduce-insurance-premium>
<app-inclusions [pageData]="importanceOfMotorInsuranceData" class="insclusion"></app-inclusions>
<app-type-of-policy [typeOfPolicy]="insuranceCardData"></app-type-of-policy>
<app-navigator [navigatorTabsData]="navigatorTabsData"></app-navigator>
<app-faq-motor [questionList]="questionsList"></app-faq-motor>