<div class="tems-condition-hero-background">
  <div class="container terms-conditions-hero-container">
    <div class="row">
      <!-- <div class="col-md-1 col-lg-1"></div> -->
      <div class="col-md-5 col-lg-5">
        <div class="terms-conditions-hero-image-container">
          <img
            src="{{pageData?.pageImageSrc}}"
            alt="terms-conditions"
            class="hero-image"
            srcset=""
          />
          <h1 class="terms-heading d-block d-sm-none">{{pageData?.pageHeading}}</h1>
        </div>
      </div>
      <!-- <div class="col-md-1 col-lg-1"></div> -->
      <div class="col-md-7 col-lg-7 terms-conditions-hero-content-container">
        <div class="">
          <div class="terms-condition-content">
            <h1 class="terms-heading d-none d-sm-block">{{pageData?.pageHeading}}</h1>
            <p class="terms-description">
              {{pageData?.pageDescription}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
