<div class="tems-condition-hero-background">
  <div class="container terms-conditions-hero-container">
    <div class="terms-conditions-hero-image-container">
      <div class="image-box">
        <img
          src="{{ pageData?.pageImageSrc }}"
          alt="terms-conditions"
          class="hero-image"
          srcset=""
        />
      </div>
      <h1 class="terms-heading d-block d-sm-none">
        {{ pageData?.pageHeading }}
      </h1>
    </div>
    <div class="terms-conditions-hero-content-container">
      <div class="terms-condition-content">
        <h1 class="terms-heading d-none d-sm-block">
          {{ pageData?.pageHeading }}
        </h1>
        <p class="terms-description">
          {{ pageData?.pageDescription }}
        </p>
      </div>
    </div>
  </div>
</div>
