.about-us-background {
  background: #5384ea0f;
  margin-top: 60px;
  margin-bottom: 30px;
  .about-us {
    .right-section {
      margin-top: 4%;
      display: flex;
      justify-content: center;
      align-items: center;
      .about-us-image{
        width: 100%;
      }
    }
    .left-section {
      padding: 20px 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      .heading {
        font-size: 28px;
        font-weight: 600;
        line-height: 42px;
        color: #0068cf;
      }
      .sub-heading {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: #242424;
      }
    }
  }
}
.bottom {
  background-color: #fff;
  margin-top: 8%;
  .custom-card {
    border-radius: 20px;
    border: none;
    background-color: #f8fafe;
    width: 579px;
    height: 120px;
    .card-head {
      font-size: 18px;
      font-weight: 600;
      line-height: 27px;
    }
    .card-sub {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }
    .card-subHead {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
  }
  .custom-values {
    border-radius: 20px;
    border: none;
    background-color: #f8fafe;
    width: 1051px;
    height: 180px;
    margin-top: 6%;
    margin-left: 6%;
    .card-head {
      font-size: 18px;
      font-weight: 600;
      line-height: 27px;
    }
    .card-sub {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }
    .card-subHead {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
  }
}
.how-we {
  background: #5384ea0f;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 6%;
  .heading {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: #242424;
    text-align: center;
    margin-bottom: 2%;
  }
  .sub-head {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #242424;
    text-align: center;
  }
}
.business-leader {
  .heading {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    margin-bottom: 6%;
    margin-top: 6%;
  }
  .image-container:hover {
    border-radius: 20px;
    height: 111%;
    width: 86%;
    background-color: #f8fafe;
    box-shadow: 0 0 0 2px #5384ea;
  }
  .image-container {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  .read-more {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    color: #5384ea;
    padding: 5px 10px;
    font-size: 14px;
    opacity: 0;
    cursor: pointer;
  }

  .image-container:hover .read-more {
    opacity: 1;
  }
}
.our-presence {
  margin-top: 7%;
  margin-bottom: 5%;
  .content {
    margin-top: 10%;
  }
  .heading {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 4%;
  }
  .para {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    .text-bold {
      font-weight: 600;
    }
  }
}
@media (min-width: 1024px) and (max-width: 1396px) {
  .about-us-background {
    .about-us {
      .right-section {
        img {
          width: 100%;
        }
      }
    }
  }
  .bottom {
    .custom-values {
      width: auto;
      height: auto;
      margin-left: 0;
    }
  }

  .business-leader {
    .image-container:hover {
      height: 111%;
      width: 102%;
    }
    .image {
      width: 100%;
    }
    .read-more {
      position: static;
      transform: translateX(-50%);
      color: #5384ea;
      padding: 5px 10px;
      font-size: 14px;
      opacity: 0;
      cursor: pointer;
      margin-left: 22%;
    }
  }
  .our-presence {
    img {
      width: 100%;
    }
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .bottom {
    .missionImage {
      width: 100%;
    }
    .custom-card {
      width: auto;
      height: auto;
    }
    .custom-values {
      width: auto;
      height: auto;
    }
  }
  .business-leader {
    .leaderImage {
      width: 100%;
    }
    .image-container {
      .image {
        width: 100%;
      }
      .read-more {
        position: static;
        transform: translateX(-50%);
        color: #5384ea;
        padding: 5px 10px;
        font-size: 14px;
        cursor: pointer;
      }
    }
    
  }
  .our-presence {
    img {
      width: 100%;
    }
  }
}
@media (max-width: 768px) {
  .about-us-background{
    .about-us{
      .left-section{
        display: flex;
        justify-content: center;
        align-items: center;
        .heading{
          font-size: 16px;
          line-height: 24px;
        }
        .sub-heading{
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }
  .sub-heading {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
  .our-mission-and-vision {
    display: flex;
    .custom-card {
      width: auto;
      height: auto;
      .card-body {
        .card-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 15px;
          .card-head {
            font-size: 16px;
            line-height: 24px;
            text-align: center;
          }
          .card-subHead {
            font-size: 14px;
            line-height: 21px;
          }
        }
      }
    }
    .missionImage {
      width: 100%;
    }
  }
  .bottom {
    .custom-values {
      width: auto;
      height: auto;
      margin-left: 0%;
      .card-body {
        .values-box {
          display: flex;
          flex-direction: column;
          align-items: center;
          .text-heading-center {
            text-align: center;
          }
        }
      }
      .values-content {
        text-align: center;
        .card-head {
          font-size: 16px;
          line-height: 24px;
        }
        .card-sub {
          font-size: 14px;
          line-height: 21px;
          text-align: center;
          font-weight: 600;
        }
      }
    }
  }
  .how-we {
    .heading {
      font-size: 20px;
      line-height: 30px;
      padding-top: 1.5rem;
    }
    .sub-head {
      font-size: 12px;
      line-height: 18px;
    }
  }
  .business-leader {
    margin-bottom: 5px !important;
    .heading {
      font-size: 20px;
      line-height: 30px;
    }
    .sub-head {
      font-size: 12px;
      line-height: 18px;
    }
    .image-container {
      margin-top: 1rem;
      .leader-image {
        width: 156px;
        object-fit: cover;
      }
      .read-more{
        text-wrap: nowrap;
      }
    }
    .image-container:hover {
      border-radius: 20px;
      height: 111%;
      width: auto;
      background-color: #f8fafe;
      box-shadow: 0 0 0 2px #5384ea;
    }
    .leaderImage {
      width: 100%;
    }
  }
  .our-presence {
    margin-top: 0;
    .content{
      margin-top: 0;
      margin-bottom: 12px;
    }
    .heading{
      font-size: 20px;
      line-height: 30px;
      text-align: center;
    }
    .para{
      font-size: 12px;
      line-height: 18px;
    }
    .india-map-image {
      width: 100%;
    }
  }
}
@media (max-width:900px) and (min-width:767px) {
  .business-leader{
    .image-container {
      margin-top: 1rem;
      .leader-image {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
@media (max-width:600px) {
  .our-mission-and-vision {
    display: flex;
    flex-direction: column;
  }
}
