<div class="container add-ons-insurance-container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Insurance</a></li>
      <li class="breadcrumb-item active" aria-current="page">Motor Insurance</li>
    </ol>
  </nav>
  <div class="add-ons-header" >
    <h2 class="heading-text">{{pageHeader}}</h2>
  </div>
  <div class="add-ons-description" [innerHtml]="pageDescriptions">
  </div>
  <!-- Add on under motore insurence start -->
  <div class="add-ons-motor-header" >
    <h2 class="add-ons-motor-heading-text">Add-ons Under Motor Insurance</h2>
    <p class="motor-description-text">
      Additional motor insurance covers can be bought with the insurance policy
      in order to extend the coverage benefits. We have a list of the most
      popular <span class="motor-link-text">motor insurance add-ons</span> listed
      below. Subject to availability.
    </p>
  </div>
  <!-- Add on under motore insurence end -->

  <!-- Card Section start  -->
  <div [ngClass]="pageName === 'motor' ? 'card-container' : 'card-container three-coloum'">
    <div class="card-box" *ngFor="let card of cardData; let i = index">
      <div class="card-image-section">
        <img
          src="{{card.imageSrc}}"
        />
      </div>
      <div class="card-content">
        <div >
          <h6 class="card-heading">{{card.heading}}</h6>
        </div>
        <div class="card-text">
          <p>
            {{card.text}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Card Section end  -->

  <!-- Types of coverage start -->
   <div class="insurance-types-container">
    <div class="add-ons-header">
      <h2 class="heading-text">Types of Coverage offered by Motor Insurance</h2>
    </div>
    <div class="add-ons-description">
      <p class="decsription-text">
        The kind of motor insurance chosen will determine the scope of a motor insurance policy's coverage. The components of third-party and comprehensive vehicle insurance are listed below.
      </p>
    </div>
    <div class="card-container">
      <div class="card-box d-none d-sm-flex">
        <div class="card-image-section">
          <img
            src="../../../../rb_assets/assets/insurance/Comprehensive.svg"
          />
        </div>
        <div class="card-content">
          <div >
            <h6 class="card-heading">Comprehensive Insurance Plan</h6>
          </div>
          <div class="card-text">
            <p>
              You will be entirely covered in the case of any loss or damage when talking about <span class="active-text">comprehensive motor insurance</span>. It is evident that comprehensive is the superior choice.
            </p>
          </div>
        </div>
      </div>
      <div class="card-box  d-none d-sm-flex">
        <div class="card-image-section">
          <img
            src="../../../../rb_assets/assets/insurance/third-party-insurance.svg"
          />
        </div>
        <div class="card-content">
          <div >
            <h6 class="card-heading">Third-Party Insurance Plan</h6>
          </div>
          <div class="card-text">
            <p>
              An individual is shielded from financial damages by a third-party car insurance policy if their covered vehicle is involved in an accident resulting in property damage, bodily harm, or death to a third party.
            </p>
          </div>
        </div>
      </div>
      <div class="card-box type-of-coverage-offer d-flex d-sm-none">
        <div class="card-image-section">
          <img
            src="../../../../rb_assets/assets/insurance/Comprehensive.svg"
            class="type-of-coverage-offer-icon"
          />
          <div >
            <h6 class="card-heading">Comprehensive Insurance Plan</h6>
          </div>
        </div>
        <div class="card-content">
          <div class="card-text">
            <p>
              You will be entirely covered in the case of any loss or damage when talking about <span class="active-text">comprehensive motor insurance</span>. It is evident that comprehensive is the superior choice.
            </p>
          </div>
        </div>
      </div>
      <div class="card-box type-of-coverage-offer d-flex d-sm-none">
        <div class="card-image-section">
          <img
            src="../../../../rb_assets/assets/insurance/third-party-insurance.svg"
            class="type-of-coverage-offer-icon"
          />
          <div >
            <h6 class="card-heading">Third-Party Insurance Plan</h6>
          </div>
        </div>
        <div class="card-content">
          <div class="card-text">
            <p>
              An individual is shielded from financial damages by a third-party car insurance policy if their covered vehicle is involved in an accident resulting in property damage, bodily harm, or death to a third party.
            </p>
          </div>
        </div>
      </div>
    </div>
   </div>
   <!-- Types of coverage end -->
</div>
