.add-ons-insurance-container {
  .breadcrumb a {
    text-decoration: none;
    color: #6c757d;
  }

  .breadcrumb a:hover {
    text-decoration: underline;
    color: #0056b3;
  }

  .breadcrumb .active {
    color: #007bff;
  }
  .add-ons-header {
    text-align: center;
    padding-bottom: 1rem;
    .heading-text {
      font-size: 24px;
      font-weight: 500;
      line-height: 36px;
    }
  }
  .add-ons-description {
    .decsription-text {
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      color: #24242480;
      .link-text {
        font-weight: 600;
        color: #5384ea;
        cursor: pointer;
      }
    }
  }
  .add-ons-motor-header {
    text-align: center;
    padding-bottom: 1rem;
    margin-top: 2.5rem;
    .heading-text {
      font-size: 24px;
      font-weight: 500;
      line-height: 36px;
    }
    .motor-decsription-text {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      margin: 12px 6rem;
      color: #24242480;
      .motor-link-text {
        font-weight: 600;
        color: #5384ea;
        cursor: pointer;
      }
    }
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;

    .card-box {
      background: #5384ea0f;
      border-radius: 24px;
      padding: 1rem;
      display: flex;
      align-items: center;
      column-gap: 2rem;
      .card-content {
        .card-heading {
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
        }
        .card-text p {
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
        }
      }
    }
    .card-box:nth-child(1),
    .card-box:nth-child(2) {
      grid-column: span 6;
    }
    .card-box:nth-child(3),
    .card-box:nth-child(4),
    .card-box:nth-child(5) {
      grid-column: span 4;
    }

    .card-box:nth-child(6),
    .card-box:nth-child(7) {
      grid-column: span 6;
    }
  }
  .insurance-types-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    .add-ons-header {
      @extend .add-ons-header;
    }
    .add-ons-description {
      @extend .add-ons-description;
      line-height: 24px;
      color: #24242480;
    }
    .card-container {
      .card-box {
        background: none;
        .card-content {
          .card-heading {
            @extend .card-heading;
            color: #6f6f6f;
            line-height: 24px;
          }
          .card-text p {
            @extend .card-text;
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            color: #28282880;

            span.active-text {
              font-size: 14px;
              font-weight: 600;
              line-height: 24px;
              color: #5384ea;
            }
          }
        }
      }
    }
  }
}
