@import url('../../cashless-garages/cashless-garages.component.scss');

  .select-pincode {
    width: auto;
    padding: 0px;
  }
  .filter-section {
    gap: 20px;
  }
  .pincode-input {
    border: 1px solid #eaeaea;
    border-radius: 12px;
    height: 45px;
  }
  .location-icon {
    position: absolute;
    right: 7%;
    top: 55px;
    transform: translateY(-50px);
    cursor: pointer;
    z-index: 1;
  }
  .input-group-append {
    align-content: center;
    .search-btn {
      background: #ffffff;
      color: #5384ea;
      border-radius: 10px;
      padding: 10px 15px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
      letter-spacing: 1px;
      border-color: #5384ea;
    }
  }
  @media only screen and (max-width: 768px) {
    
    .input-group-append {
      align-content: center;
      margin-top: 1rem;
      .search-btn {
        width: 100%;
      }
    }
    .select-pincode {
      width: 100%;
      padding: 0;
      padding-left: 1rem;
      padding-right: 1rem;
    }

  }