<div class="cashless">
  <div class="container container-custom">
    <div class="row">
      <!-- Header Section Start  -->
      <div class="header mb-4">
        <div class="header-heading d-flex">
          Cashless Hospitals Near You
        </div>
      </div>

      <div class="position-relative select-pincode col-4 col-lg-4">
        <input
          type="text"
          class="form-control input-box pincode-input"
          placeholder="Enter Pincode/City"
          maxlength="10"
          formControlName="pincode"
          applyNumbersOnly
        />
        <span class="location-icon p-1">
          <img
            src="../../../../rb_assets/assets/insurance/location.svg"
            alt="Location Icon"
          />
        </span>
        <!-- <div
          *ngIf="
            searchForm.get('pincode')?.invalid &&
            (searchForm.get('pincode')?.dirty ||
              searchForm.get('pincode')?.touched)
          "
          class="error-message"
        >
          <div
            *ngIf="searchForm.get('pincode')?.errors?.['pattern']"
          >
            Please enter a valid 6-digit pincode or city name.
          </div>
        </div> -->
      </div>
      <div class="input-group-append col-4 col-lg-4 col-sm-12 mb-3">
        <button class="btn btn-light search-btn ml-1" type="submit">
          Search Hospital
        </button>
      </div>
      <!-- <div class="col-4 col-lg-4 d-flex justify-content-end viewall">
        View All
      </div> -->

      <!-- Toggle Button Section End  -->

      <!-- Filter Section Start  -->

      <div class="row card-container my-4">
        <div
          class="col-4 col-sm-2"
          *ngFor="let card of cardList; let i = index"
        >
          <div class="card-section" (click)="search(card)">
            <div class="card-image">
              <img
                src="{{
                  card?.attributes?.insurer_logo?.data?.attributes?.url
                }}"
                class="image-size"
                alt="{{ card?.attributes?.alt }}"
              />
            </div>
            <div class="name-text d-none d-sm-block">
              <div class="main-logo-name">
                <div class="insurance-first-name">
                  {{ card?.attributes?.insurer_name }}
                </div>
                <!-- <div
                    class="insurance-second-name"
                    *ngIf="card?.attributes?.insurer_type[1]"
                  >
                    {{ card?.attributes?.insurer_type[1] }}
                  </div> -->
              </div>
            </div>
          </div>
        </div>
        <!-- <app-cashless-garage-popup
          *ngIf="cashlessPopup"
          [insurar_data]="insurar_data"
          [card_list]="totalCardList"
          [list_type]="listType"
          (closePopup)="close()"
        ></app-cashless-garage-popup> -->
      </div>
      <!-- Card List Section Start  -->
      <!-- View All Section Start  -->
      <div
        class="row align-items-center justify-content-evenly view-all-container mt-3"
        *ngIf="totalCardList.length > 12"
      >
        <div class="col-4 col-sm-4 px-0">
          <hr class="horizontal-line" />
        </div>
        <div class="col-auto col-sm-2 px-0 text-center">
          <button class="btn view-btn" type="button" (click)="ViewAll()">
            View All
          </button>
        </div>
        <div class="col-4 col-sm-4 px-0">
          <hr class="horizontal-line" />
        </div>
      </div>
      <!-- View All Section End  -->
    </div>
  </div>
</div>
