<div class="container reduce-premium">
  <div class="">
    <h1 class="heading">{{heading}}</h1>
    <div class="d-flex justify-content-center">
      <p class="heading-para">
        {{ subHeading}}
      </p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 col-sm-12 d-block d-lg-none text-center"> 
      <img
      [src]="imageRes"
      alt=""
    />
    </div>
    <div class="col-12 col-lg-5 col-12 d-flex justify-content-end">
      <div class="card custom-card">
        <div class="card-body custom-card-body row-one">
          <h6 class="card-heading text-start">{{card1Heading}}</h6>
          <span class="sub-heading text-start">
            {{card1SubHeading}}
          </span>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
    <div class="col-12 col-lg-5 col-sm-12 d-flex justify-content-start col">
      <div class="card custom-card">
        <div class="card-body custom-card-body row-two">
          <h6 class="card-heading text-start">{{card2Heading}}</h6>
          <span class="sub-heading text-start">
            {{card2SubHeading}}
          </span>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4 col-sm-12 d-flex justify-content-start card-gap">
      <div class="card custom-card">
        <div class="card-body custom-card-body row-two">
          <h6 class="card-heading text-start">{{card3Heading}}</h6>
          <span class="sub-heading text-start">
            {{card3SubHeading}}
          </span>
        </div>
      </div>
    </div>
    <div class="col-4 col-lg-4  d-none d-lg-block text-center reduce-premium-img">
      <img
        [src]="image"
        alt=""
        width="263"
        height="242"
      />
    </div>
    <div class="col-12 col-lg-4 col-sm-12 d-flex justify-content-end card-gap">
      <div class="card custom-card">
        <div class="card-body custom-card-body row-two">
          <h6 class="card-heading text-start">{{card4Heading}}</h6>
          <span class="sub-heading text-start">
            {{card4SubHeading}}
          </span>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-5 col-sm-12 d-flex justify-content-end col-one" *ngIf="this.page?.pageType =='Health'">
      <div class="card custom-card">
        <div class="card-body custom-card-body row-one">
          <h6 class="card-heading text-start">{{card5Heading}}</h6>
          <span class="sub-heading text-start">
            {{card5SubHeading}}
          </span>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-2 col-sm-12 d-flex justify-content-start col-two mt-3" *ngIf="this.page?.pageType =='Health'">
    </div>
    <div class="col-12 col-lg-5 col-sm-12 d-flex justify-content-start col-two" *ngIf="this.page?.pageType =='Health'">
      <div class="card custom-card">
        <div class="card-body custom-card-body row-one">
          <h6 class="card-heading text-start">{{card6Heading}}</h6>
          <span class="sub-heading text-start">
            {{card6SubHeading}}
          </span>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-12 d-flex justify-content-start col-one" *ngIf="this.page?.pageType =='Life'">
      <div class="card custom-card">
        <div class="card-body custom-card-body row-one">
          <h6 class="card-heading text-start">{{card5Heading}}</h6>
          <span class="sub-heading text-start">
            {{card5SubHeading}}
          </span>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-12 d-flex justify-content-center col-two mt-3" *ngIf="this.page?.pageType =='Life'">
      <div class="card custom-card">
        <div class="card-body custom-card-body row-one">
          <h6 class="card-heading text-start">{{card7Heading}}</h6>
          <span class="sub-heading text-start">
            {{card7SubHeading}}
          </span>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 col-sm-12 d-flex justify-content-end col-two mt-3" *ngIf="this.page?.pageType =='Life'">
      <div class="card custom-card">
        <div class="card-body custom-card-body row-one">
          <h6 class="card-heading text-start">{{card6Heading}}</h6>
          <span class="sub-heading text-start">
            {{card6SubHeading}}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
