<div class="container reduce-premium">
  <div class="">
    <h1 class="heading">How to reduce Health Insurance Premiums?</h1>
    <div class="d-flex justify-content-center">
      <p class="heading-para">
        Reducing health insurance premiums can improve your financial health.
        Though strategies vary by location and insurer, here are some general
        tips to lower premiums:
      </p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 col-sm-12 d-block d-lg-none text-center"> 
      <img
      src="./rb_assets/assets/images/reduce-premium-res.svg"
      alt=""
    />
    </div>
    <div class="col-12 col-lg-5 col-12 d-flex justify-content-end">
      <div class="card custom-card">
        <div class="card-body custom-card-body row-one">
          <h6 class="card-heading text-start">Compare Health Plans</h6>
          <span class="sub-heading text-start">
            Compare plans from various insurers for the best coverage at the
            lowest premium. Use online tools or RenewBuy for help.
          </span>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
    <div class="col-12 col-lg-5 col-sm-12 d-flex justify-content-start col">
      <div class="card custom-card">
        <div class="card-body custom-card-body row-two">
          <h6 class="card-heading text-start">Choose a Higher Deductible</h6>
          <span class="sub-heading text-start">
            The deductible is what you pay before insurance starts. Higher
            deductibles lower premiums. Choose based on your health and
            finances.
          </span>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4 col-sm-12 d-flex justify-content-start card-gap">
      <div class="card custom-card">
        <div class="card-body custom-card-body row-two">
          <h6 class="card-heading text-start">Access Preventive Care</h6>
          <span class="sub-heading text-start">
            Many plans offer free preventive services like vaccinations &
            checkups, helping to identify health issues early & lower future
            treatment costs.
          </span>
        </div>
      </div>
    </div>
    <div class="col-4 col-lg-4  d-none d-lg-block d-flex justify-content-center reduce-premium-img">
      <img
        src="./rb_assets/assets/images/reduce-premium.svg"
        alt=""
        width="263"
        height="242"
      />
    </div>
    <div class="col-12 col-lg-4 col-sm-12 d-flex justify-content-end card-gap">
      <div class="card custom-card">
        <div class="card-body custom-card-body row-two">
          <h6 class="card-heading text-start">Assess your Coverage Needs</h6>
          <span class="sub-heading text-start">
            Assess your healthcare needs and select a suitable health plan. If
            you seldom visit the doctor, basic coverage may be more
            cost-effective.
          </span>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-5 col-sm-12 d-flex justify-content-end col-one">
      <div class="card custom-card">
        <div class="card-body custom-card-body row-one">
          <h6 class="card-heading text-start">Maintain a Healthy Lifestyle</h6>
          <span class="sub-heading text-start">
            A healthy lifestyle lowers chronic condition risks. Insurers often
            offer discounts for exercise, non-smoking, and healthy weight.
          </span>
        </div>
      </div>
    </div>
    <div class="col-2 mt-3"></div>
    <div class="col-12 col-lg-5 col-sm-12 d-flex justify-content-start col-two">
      <div class="card custom-card">
        <div class="card-body custom-card-body row-one">
          <h6 class="card-heading text-start">Review Your Plan Annually</h6>
          <span class="sub-heading text-start">
            Review your health insurance plan regularly, as offers and prices
            can change yearly. Compare during open enrollment to find better
            options.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
