<div class="grievance-redersal-background">
  <div class="container grievance-redersal">
    <div class="row grievance-hero-cotainer">
      <div class="col-4 right-section">
        <img src="./rb_assets/assets/images/grievance-redersal.svg" alt="" />
      </div>
      <div class="col-1 d-none d-sm-block"></div>
      <div class="col-4 col-sm-7 col-md-7 col-lg-7 left-section">
        <h1 class="heading">Grievance Redressal</h1>
        <span class="sub-heading d-none d-sm-block mb-1"
          >We would like to hear from you in the case of any complaints or
          grievances.
        </span>
        <span class="sub-heading d-none d-sm-block">
          We will always attend to your case and give a solution post our
          investigation</span
        >
      </div>
    </div>
  </div>
</div>
<div class="bottom container">
  <span class="sub-heading d-block d-sm-none mb-3"
    >We would like to hear from you in the case of any complaints or grievances.
    We will always attend to your case and give a solution post our
    investigation
  </span>
  <h6 class="heading mb-5">Escalation Matrix for Grievance Redressal</h6>

  <div class="mb-4">
    <h6 class="heading">Level 1</h6>
    <span class="sub-heading"
      >Please email us at
      <a href="mailto:grievances@renewbuy.com" class="style-hide">
        <span class="email">grievances&#64;renewbuy.com</span> </a
      >Or call us at
      <a href="tel:18005720715" class="style-hide">
        <span class="email">1800-5720-715</span></a
      >
    </span>
  </div>

  <div class="mb-4">
    <h6 class="heading">Level 2</h6>
    <span class="sub-heading"
      >If you are not satisfied with the resolution of your grievance, mail at
      <a href="mailto:vijay@renewbuy.com" class="style-hide">
        <span class="email">vijay&#64;renewbuy.com</span>
      </a>
    </span>
  </div>

  <div class="mb-4">
    <h6 class="heading">Level 3</h6>
    <span class="sub-heading">
      If you are not satisfied with the resolution of your grievance or your
      grievance is still unresolved, write a mail to our Grievance Officer at
      <a href="mailto:grievances@renewbuy.com" class="style-hide">
        <span class="email">grievances&#64;renewbuy.com</span>
      </a>
      or call at
      <a href="tel:18005720715" class="style-hide">
        <span class="email">1800-5720-715</span></a
      >
      .</span
    >
  </div>

  <div class="mb-4">
    <h6 class="heading">Level 4</h6>
    <span class="sub-heading">
      If the solution provided still does not meet your expectations, register
      with
      <span class="email"
        >IRDA Integrated Grievance Management System (IGMS)</span
      ></span
    >
  </div>

  <div class="mb-4 row">
    <h6 class="heading mb-3">
      IRDA Grievance Call Center can be accessed through
    </h6>
    <div class="col-12 col-lg-3 mb-2">
      <div class="card custom-card">
        <div class="card-body">
          <div class="row">
            <div class="col-3 mt-2">
              <img src="./rb_assets/assets/images/call.svg" alt="Call_Image" />
            </div>
            <div class="col-9">
              <span class="sub-heading">Toll-free number</span><br />
              <a href="tel:18004254732" class="style-hide">
                <span class="email">1800-4254-732</span></a
              >
              <!-- <span class="email">1800-4254-732</span> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <div class="card custom-card">
        <div class="card-body">
          <div class="row">
            <div class="col-3 mt-2">
              <img src="./rb_assets/assets/images/mail.svg" alt="Call_Image" />
            </div>
            <div class="col-9">
              <span class="sub-heading">Mail at</span><br />
              <a href="mailto:complaints@irda.gov.in" class="style-hide">
                <span class="email">complaints&#64;irda.gov.in</span>
              </a>
              <!-- <span class="email">complaints&#64;irda.gov.in</span> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <h6 class="mt-5">
      <span class="more-info"
        >For more information on how <span class="text-bold">IGMS works,</span
        ><span class="click" (click)="IGMS()"> click here</span></span
      >
    </h6>
  </div>
</div>
