@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./../_mixins.scss";
@import "@ng-select/ng-select/themes/default.theme.css";
/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Poppins";
}
body {
  overflow-y: scroll !important;
  padding-right: 0px !important;
}
.no-scroll {
  overflow: hidden !important;
}

.left-right-container-padding {
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 20px;
}

.main__container {
  height: 25vh !important;
  margin-left: 25%;
  margin-top: 1%;
}
body.no-scroll {
  overflow: hidden;
}
@media (min-width: 1296px) and (max-width: 1366px) {
  .main__container {
    height: 25vh !important;
    margin-left: 25%;
    margin-top: 3%;
  }
}

/**................................................................**/
.dark-orange {
  color: #ee8029;
}

.heading-one {
  font-size: 48px;
  line-height: 67.2px;
  text-align: center;
  font-weight: 400;
  padding: 10px 0px;
}

.dflex {
  display: flex;
}

.dark-orange {
  color: #ee8029;
}

.bold {
  font-weight: 700;
}

.heading-one {
  font-size: 42px;
  line-height: 58.8px;
  text-align: center;
  font-weight: 400;
  padding: 10px 0px;
}

.landing-container {
  margin: auto;
}

/* Add this to your CSS file */
.error-border {
  border: 1px solid red !important;
}

.error-message {
  color: red !important;
  font-size: 12px;
  font-weight: 400;
  margin-top: 0.5em;
}

.light-green {
  color: rgba(28, 195, 25, 1);
}

.owl-theme .owl-nav.disabled + .owl-dots {
  position: relative;
  bottom: 24rem;
  left: 0rem;
}

.owl-item .slide {
  position: relative;
  /* Ensures that the inner positioning is relative to this container */
}

.custome-margin-top-5 {
  margin-top: -2rem !important;
}

.custome-margin-top-2 {
  margin-top: 2rem !important;
}

/* Apply styles specifically to the inner div if needed */
.owl-item .slide:nth-child(2) {
  bottom: 26rem;
  /* Adjust the positioning of the second slide */
}

.owl-carousel .owl-stage-outer {
  border-radius: 12px;
}

@media (min-width: 1296px) and (max-width: 1366px) {
  .title {
    bottom: 50% !important;
  }
}

// @media (max-width: 1024px) {
@media (min-width: 1024px) and (max-width: 1295px) {
  .main__container {
    height: 35vh !important;
  }
}
.view-more {
  width: 125px;
  height: 44px;
  border-radius: 100px;
  background-color: #f5f8fe;
  font-size: 12px;
  font-weight: 600;
  color: #5384ea;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0 7px;
  gap: 5%;
}
.rotate-180 {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

@media only screen and (max-width: 768px) {
  .custome-margin-top-5 {
    margin-top: 0rem;
  }
  ul.ngx-pagination {
    padding-left: 0px;
  }

  .left-right-container-padding {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
  }

  .slider-card {
    .slick-dots {
      bottom: -40px !important;
    }

    .slick-dots li button:before {
      font-size: 12px;
    }

    .slick-dots li.slick-active button:before {
      color: #007bff;
    }
    .slick-dots li {
      margin: 0 0px !important;
      width: 15px !important;
      height: 20px !important;
    }
  }

  .main__container {
    height: 35vh !important;
    margin-left: 0%;
    padding-top: 20px;
  }
}

.left-arr {
  width: 45px;
  height: 45px;
  border: solid 1px #4ea6ff;
  border-radius: 50%;

  .blue-arrimg {
    display: block;
  }

  .white-arrimg {
    display: none;
  }
}

.left-arr:hover {
  background-color: rgb(0, 104, 207);
  border: solid 1px rgb(0, 104, 207);

  .blue-arrimg {
    display: none;
  }

  .white-arrimg {
    display: block;
  }
}

.submit-disabled-btn {
  background-color: rgba(150, 163, 190, 1) !important;
  cursor: none;
}

/** 
* car insurance page scss start
*/
.car-insurance-container,
.motor-car-insurance-container {
  .page-title {
    text-wrap: nowrap;
    font-weight: 500;
    font-size: 32px;
    @media (max-width: 576px) {
      & {
        text-wrap: wrap;
      }
    }
  }
  .page-title-life {
    text-wrap: nowrap;
    font-weight: 600;
    font-size: 32px;
    @media (max-width: 576px) {
      & {
        text-wrap: wrap;
      }
    }
  }

  .day-color {
    color: #47be88;
    font-weight: 600;
    font-family: Poppins;
    line-height: 48px;
  }
  .subtitle {
    .text-bold {
      font-weight: 600;
      line-height: 30px;
      color: #242424;
    }
    .percentage-icon {
      margin: 0px 8px 0px 0px;
      width: 24px;
      height: 24px;
    }
    .discount {
      color: #47be88;
      font-weight: 600;
      line-height: 20px;
    }
  }

  @media only screen and (max-width: 768px) {
    .page-title {
      font-size: 18px;
      line-height: 27px;

      .day-color {
        font-size: 18px;
        line-height: 27px;
      }
    }

    .subtitle {
      font-size: 13px;
      line-height: 19.5px;

      .text-bold {
        font-size: 13px;
        line-height: 19.5px;
      }
    }
  }
  @media (min-width: 1024px) and (max-width: 1295px) {
    .page-title {
      font-size: 24px;
      color: #242424;
    }
    .subtitle .text-bold {
      font-size: 12px;
    }
  }
  @media (min-width: 1296px) and (max-width: 1366px) {
    .page-title {
      font-size: 26px;
      color: #242424;
    }
    .subtitle .text-bold {
      font-size: 14px;
    }
  }
}

.ngx-pagination {
  .current {
    background: #2199e8 !important;
    color: #fff !important;
    border-radius: 4px !important;
  }
}
.ng-select.ng-select-single .ng-select-container {
  border: 1px solid #e5e3e3;
  border-radius: 10px;
  background-color: #fff;
  padding: 7px;
  height: 43px;
  width: 363px;
}
.ng-arrow-wrapper {
  background: url("/rb_assets/assets/icons/down-arrow.svg");
  .ng-arrow {
    border-color: transparent !important;
  }
}
.modal-backdrop {
  z-index: 100 !important;
}
.ng-placeholder {
  color: #4d4d4d !important;
}
.cursor-pointer {
  cursor: pointer;
}
.add-ons-description {
  .decsription-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #24242480;
    @media (max-width: 768px) {
      & {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
      }
    }
    .link-text {
      font-weight: 600;
      color: #5384ea;
      cursor: pointer;
    }
  }
}
.form-group {
  position: relative;
}

.date-label {
  position: absolute;
  top: 50%;
  left: 17px;
  color: #999999;
  pointer-events: none;
  transition: 0.2s ease all;
  transform: translateY(-50%);
}
.motor-description-text {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #24242480;
}
.motor-link-text {
  color: #5384ea;
  font-weight: 600;
}

.tems-condition-hero-background {
  background: #f8fafe;
  height: 368px;
  @media (max-width: 768px) {
    height: auto;
  }
  .terms-conditions-hero-container {
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
    padding-right: 4rem;
    padding-left: 4rem;
    column-gap: 4rem;
    @media (max-width: 768px) {
      padding-top: 2rem;
      padding-right: 2rem;
      padding-left: 2rem;
    }
    .terms-conditions-hero-image-container {
      .image-box {
        width: fit-content;
        .hero-image {
          // width: 100%;
          object-fit: contain;
          padding-top: 21px;
        }
      }
    }

    .terms-conditions-hero-content-container {
      padding-top: 4rem;
      .terms-heading {
        font-size: 28px;
        font-weight: 600;
        line-height: 42px;
        text-wrap: nowrap;
        color: #0068cf;
      }
      .terms-description {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: #242424;
        @media (max-width: 1366px) {
          & {
            font-size: 14px;
            line-height: 18px;
          }
        }
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
      .terms-conditions-hero-image-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .terms-heading {
          font-size: 16px;
          line-height: 24px;
          font-weight: 600;
          margin-top: 10px;
          color: #0068cf;
          text-wrap: balance;
        }
        .hero-image {
          width: 60%;
          object-fit: cover;
        }
      }
      .terms-conditions-hero-content-container {
        padding-top: 0rem;
        .terms-heading {
          font-size: 16px;
          line-height: 24px;
          margin-top: 10px;
        }
        .terms-description {
          font-size: 12px;
          line-height: 18px;
          margin-top: 16px;
        }
      }
    }
  }
}

.strong-tag-font-style {
  font-weight: 700;
  line-height: 24px;
  color: #242424;
}
.strong-tag-font-style-font {
  font-size: 16px;
}
.pointer {
  cursor: pointer;
}
.style-hide {
  text-decoration: none;
}
.placeholder {
  background-color: #ffff !important;
}

.p-inputtext:enabled:focus {
  border-color: #eaeaea !important;
}
.p-datepicker-day-selected {
  background: #5384ea !important;
}
.p-floatlabel label {
  color: #999999 !important;
}

.p-inputtext {
  border: 1px solid #eaeaea !important;
  border-radius: 16px !important;
  color: black !important;
}

.p-datepicker {
  width: 100%;
  input::placeholder {
    color: #999999;
    opacity: 1;
  }

  input:focus::placeholder {
    color: #999999;
  }
}
