<div class="container-fluid py-4 no-pb">
  <app-header></app-header>
  <app-insurar></app-insurar>
  <app-quick-actions></app-quick-actions>
  <app-choose-renewbuy></app-choose-renewbuy>
  <app-inurer-partner></app-inurer-partner>
  <!-- <app-beyond-insurance></app-beyond-insurance> -->
  <app-customer-stories></app-customer-stories>
  <app-curated-content></app-curated-content>
  <app-investor></app-investor>
  <app-faq></app-faq>
  <app-footer></app-footer>
  <app-toast-modal></app-toast-modal>
</div>
