<div class="container-fluid py-4 no-pb">
  <app-header></app-header>
  <app-car-insurance></app-car-insurance>
  <app-quick-actions
    (newItemEvent)="scrollToCashlessGarages($event)"
  ></app-quick-actions>
  <app-inurer-partner class="inurer-partner"></app-inurer-partner>
  <app-choose-renewbuy></app-choose-renewbuy>
  <app-advisor-connect></app-advisor-connect>
  <app-cashless-garages></app-cashless-garages>
  <app-claim-file></app-claim-file>
  <app-curated-content></app-curated-content>
  <app-faq></app-faq>
  <app-footer></app-footer>
  <app-toast-modal></app-toast-modal>
</div>
