<div class="container benefits-covered-container">
    <div class="header-section">
      <h3 class="choose-best-health-insurance-heading">
        Benefits that are covered after the Waiting Period
      </h3>
      <div class="d-flex justify-content-center">
        <p class="choose-best-health-insurance-heading-para">
            Below mentioned are few of the benefits that are covered after the waiting period
        </p>
      </div>
    </div>
    <div class="row mt-5">
        <div class="col-4 d-flex justify-content-center d-none d-lg-block">
            <img src="./rb_assets/assets/images/health-benefit.svg" alt="" width="320" height="410">
        </div>
        <div class="col-8 d-flex justify-content-center d-none d-lg-block mt-5">
            <img src="./rb_assets/assets/images/benefit-table.svg" alt="">
        </div>
        <div class="col-12 d-flex justify-content-center d-block d-lg-none">
          <img src="./rb_assets/assets/images/benefits-res-img.svg" alt="">
      </div>
    </div>
</div>