<!-- <div class="container-fluid py-4 no-pb"> -->
<!-- <app-header></app-header> -->
<app-motor-car-insurance></app-motor-car-insurance>
<app-quick-actions></app-quick-actions>
<app-inurer-partner class="inurer-partner"></app-inurer-partner>
<app-add-ons-inurance></app-add-ons-inurance>
<app-inclusions></app-inclusions>
<app-exclusions></app-exclusions>
<app-select-right-policy></app-select-right-policy>
<app-type-of-policy></app-type-of-policy>
<app-notice-board></app-notice-board>
<app-faq-motor></app-faq-motor>
<!-- <app-footer></app-footer>
  <app-toast-modal></app-toast-modal> -->
<!-- </div> -->
