<!-- <div class="container-fluid py-4 no-pb"> -->
<!-- <app-header></app-header> -->
<app-motor-car-insurance [isShowTab]="true"></app-motor-car-insurance>
<app-quick-actions></app-quick-actions>
<app-inurer-partner class="inurer-partner"></app-inurer-partner>
<app-add-ons-inurance [pageData]="addOnspageData"></app-add-ons-inurance>
<app-inclusions
[pageData]="inclusionsData"
></app-inclusions>
<app-inclusions
[pageData]="exclusionsData"
></app-inclusions>
<app-select-right-policy></app-select-right-policy>
<app-type-of-policy></app-type-of-policy>
<app-inclusions
[pageData]="importanceOfMotorInsuranceData"
></app-inclusions>
<app-inclusions
[pageData]="benefitsMotorInsuranceData"
></app-inclusions>
<app-navigator></app-navigator>
<app-faq-motor></app-faq-motor>
<!-- <app-footer></app-footer>
  <app-toast-modal></app-toast-modal> -->
<!-- </div> -->
