<div class="container not-sure">
  <h1 class="heading">
    Not sure which plan fits?
    <br />
    Here’s how to compare health insurers and find your perfect fit in today’s
    market.
  </h1>
  <div class="all-card">
    <div class="row  d-none d-lg-block">
      <div class="col-12 col-lg-12  d-flex justify-content-end not-sure-image">
        <img
          src="./rb_assets/assets/images/not-sure.svg"
          alt=""
          class="not-sure-image"
        />
      </div>
    </div>
    <div class="row  d-block d-lg-none">
      <div class="col-12 col-sm-12  d-flex justify-content-center">
        <img
          src="./rb_assets/assets/images/not-sure-res.svg"
          alt=""
        />
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-4 col-sm-12 mb-3">
        <div class="card custom-card">
          <div class="card-body custom-card-body">
            <h6 class="card-heading text-start">Evaluate Coverage Options</h6>
            <span class="sub-heading text-start">
              Compare health plans to find comprehensive coverage for
              hospitalization, consultations, diagnostics, medication, &
              maternity benefits.
            </span>
          </div>
        </div>
      </div>
      <div class="col-4"></div>
      <div class="col-12 col-lg-4 col-sm-12 mb-3">
        <div class="card custom-card">
          <div class="card-body custom-card-body">
            <h6 class="card-heading text-start">Review Policy Benefits</h6>
            <span class="sub-heading text-start">
              Review policies for cashless hospitalization, no-claim bonuses,
              wellness programs, and pre-existing condition coverage for the
              best option.
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-4 col-sm-12 mt-3">
        <div class="card custom-card">
          <div class="card-body custom-card-body">
            <h6 class="card-heading text-start">
              Compare Premiums & Deductibles
            </h6>
            <span class="sub-heading text-start">
              Compare premiums, deductibles, and costs to find a health plan
              that balances affordability and comprehensive coverage.
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 col-sm-12 mt-3">
        <div class="card custom-card">
          <div class="card-body custom-card-body">
            <h6 class="card-heading text-start">
              Consider Network of Hospitals
            </h6>
            <span class="sub-heading text-start">
              Ensure your preferred hospitals are in each insurer's network for
              easy cashless access and comprehensive coverage.
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 col-sm-12 mt-3">
        <div class="card custom-card">
          <div class="card-body custom-card-body">
            <h6 class="card-heading text-start">Valuable Customer Reviews</h6>
            <span class="sub-heading text-start">
              Check reviews for service quality, claims, and satisfaction, and
              choose a company with a strong reputation and positive feedback.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
