<div class="container some-myths">
  <div class="">
    <h1 class="heading">Some myths about Health Insurance</h1>
    <div class="d-flex justify-content-center">
      <p class="heading-para">
        Health insurance is often misunderstood, creating confusion about
        coverage. Debunking these myths is crucial for informed healthcare
        decisions.
      </p>
    </div>
  </div>
  <div class="row myths mt-4">
    <div
      class="col-12 col-sm-12 col-lg-6"
      *ngFor="let mythsData of (showAllMyths ? myths : myths | slice:0:4)"
    >
      <h5 class="myth-head">
        {{ mythsData?.headCount }}
        <span class="text">{{ mythsData?.headText }}</span>
      </h5>
      <span class="myth-sub-head">{{ mythsData?.haedDescription }}</span>
    </div>
  </div>
  
  <div class="d-flex justify-content-center mt-3">
    <span class="view-more text-center" (click)="toggleView()">
      {{ showAllMyths ? 'View less' : 'View more' }}
      <img
        class="download"
        [src]=" './rb_assets/assets/images/dwnld.svg'"
        [ngClass]="{'rotate-180': showAllMyths}"
        alt="Expand or collapse myths"
        />
    </span>
  </div>
  
</div>
