<div class="container some-myths mb-5">
  <div class="">
    <h1 class="heading">Some myths about Health Insurance</h1>
    <div class="d-flex justify-content-center">
      <p class="heading-para">
        Health insurance is often misunderstood, creating confusion about
        coverage. Debunking these myths is crucial for informed healthcare
        decisions.
      </p>
    </div>
  </div>
  <div class="row myths mt-4">
    <div class="col-6 col-lg-6">
      <h5 class="myth-head">01 
        <span class="text">
            Myth: "I'm young and healthy, so I don't need health
            insurance."
        </span>
     </h5>
      <span class="myth-sub-head">
        A common myth is that young, healthy individuals don’t need health
        insurance. However, accidents and unexpected illnesses can occur at any
        time. Health insurance offers financial protection for emergencies and
        covers preventive care, helping maintain good health and identify issues
        early.
      </span>
    </div>
    <div class="col-6 col-lg-6">
      <h5 class="myth-head"
        >02 <span class="text">
            Myth: "Health insurance is too expensive, so I can't afford
            it."
        </span>
      </h5>
      <span class="myth-sub-head">
        Health insurance premiums can be high, but being uninsured can lead to
        overwhelming costs. Government subsidies may help make coverage more
        affordable, so explore your options. Don’t overlook the financial
        protection insurance provides in emergencies.
      </span>
    </div>
    <div class="col-6 col-lg-6">
      <h5 class="myth-head"
        >03 
        <span class="text">
            Myth: Myth: “All health insurance plans are the same, so any choice
            is fine”
        </span> 
      </h5>
      <span class="myth-sub-head">
        Health insurance plans differ greatly in coverage, costs, and benefits.
        Thoroughly review & compare options based on factors like network
        hospitals, prescription coverage, deductibles, and copays. Understanding
        these differences helps you choose the best plan for your healthcare
        needs & budget.
      </span>
    </div>
    <div class="col-6 col-lg-6">
      <h5 class="myth-head"
        >04 <span class="text">Myth: "Health insurance covers all medical expenses."</span>
        </h5>
      <span class="myth-sub-head">
        Individuals with pre-existing conditions may face challenges in
        obtaining health insurance or higher premiums. However, IRDAI prohibits
        insurers from denying coverage or charging more based on these
        conditions, ensuring access to affordable health insurance.
      </span>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <span class="view-more text-center"
      >View more
      <img class="download" src="./rb_assets/assets/images/dwnld.svg" alt=""
    /></span>
  </div>
</div>
